---
title: 'Monthly Challenge for February, 2021: Show your work! Creating Audio/Visual content'
description: 'Feb challenge -> Break out your cameras and your microphones. This month we're working on AV content'
layout: layouts/simple.njk
date: 2021-02-01
tags: monthlychallenges
---

<h1><small>Monthly Challenge for February, 2021:</small> Show your work! Creating Audio/Visual content</h1>

<p class="lead">We all have something to share. And when we share with others, we both invite them to share with us and create a community of knowledge sharing and access to learning. This month, we'll focus on a different form of sharing: Audio/Visual</p>

<p class="lead">
    We don't expect a fancy production, but we want you to challenge yourself to share what you learned. You might create a YouTube video, do a livestream, share on a podcast, or create a TicTok. 
</p>

<hr />

<h2>Theme</h2>
<p> Show your work! Creating Audio/Visual content challenge</p>
<h2>Duration</h2>
<ul>
  <li>Entire month of February</li>
</ul>
<h2>Goals</h2>
<ul>
<li>To provide an optimal environment for virtual coffee members to present their knowledge and efforts</li>
<li>To encourage membership to explore video and audio mediums for sharing knowledge</li>
<li>To highlight the achievements of our members</li>
<li>To promote growth through sharing</li>
</ul>
<h2>How it works</h2>
<ul>
  <li>For the month of February we're asking members to submit brownbags, youtube videos, podcasts, or some other form of audio of video content they created that explores a coding-related concept--there's no length requirement
</li>
  <li>Each week, we'll do a check-in, in slack to brainstorm, support, and learn from our experiences.</li>
  <li>We encourage you to post your ideas, questions, and even your fears in slack. </li>
  <li>Keep in mind that we know that sharing can be hard, but it also provides a ton of value by:
    <ul>
      <li>Solidifying ideas.</li>
      <li>Allows you to be a resource for others.</li>
      <li>Invites personal growth through conversations sparked by your sharing.</li>
      <li>Demonstrates your ability to talk through a concept</li>
    </ul>
  </li>
  <li>
    On February 26th, we'll wrap up our challenge with lightning talks and have a space for members to sumbit their own AV content on our site.

  </li>
  <li>
    And remember, we're always here to help ❤️
  </li>
</ul>