.homepageblocks {
  display: grid;

  @include media-breakpoint-up(md) {
    gap: 0 2em;
    grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      'heroA  heroB'
      'titleA titleB'
      'bodyA  bodyB'
      'footA  footB';

    > *:nth-child(8n + 1) {
      grid-area: heroA;
    }
    > *:nth-child(8n + 2) {
      grid-area: titleA;
    }
    > *:nth-child(8n + 3) {
      grid-area: bodyA;
    }
    > *:nth-child(8n + 4) {
      grid-area: footA;
    }
    > *:nth-child(8n + 5) {
      grid-area: heroB;
    }
    > *:nth-child(8n + 6) {
      grid-area: titleB;
    }
    // > *:nth-child(8n + 7) {
    //   grid-area: descB;
    // }
    > *:nth-child(8n + 7) {
      grid-area: bodyB;
    }
    > *:nth-child(8n + 8) {
      grid-area: footB;
    }
  }
}

.homepageblock-hero {
  display: flex;
  align-items: flex-end;
  margin: 1em 0;

  @include media-breakpoint-up(md) {
    margin: 0 0 1em;
  }

  svg {
    width: 50%;
  }
}

.smallhomepageblocks {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 1em;
  background: $pink;
}

.smallhomepageblocks-item {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 1em;
  align-items: center;
  transition: outline 0.15s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  background: #fff;
  padding: 0.5em;

  &:hover {
    text-decoration: none;
    outline: #a6d8d4 5px solid;
  }
}

.smallhomepageblocks-title {
  margin-bottom: 0;
}
