.membercards {
  display: grid;
  gap: map-get($spacers, 4);
  grid-template-columns: 1fr;
  margin-bottom: map-get($spacers, 5);

  @include media-breakpoint-up(md) {
    grid-template-columns: 1fr 1fr;
    gap: map-get($spacers, 5);
  }
}

.membercard {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: flex-start;
  grid-template-rows: min-content 1fr;
  grid-gap: 1rem;
  border-bottom: 1px solid rgba($pink, 0.2);
  padding-bottom: map-get($spacers, 4);

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  @include media-breakpoint-up(md) {
    border: 0;
    padding-bottom: 0;
    grid-template-columns: 1fr 2fr;
  }
}

.membercard-bd {
  grid-column: 1 / span 2;

  @include media-breakpoint-up(sm) {
    grid-column: 2;
  }

  @include media-breakpoint-only(md) {
    grid-column: 1 / span 2;
  }
}

.membercard-img {
  @include media-breakpoint-up(sm) {
    grid-row: 1 / span 2;
  }
  @include media-breakpoint-only(md) {
    grid-row: 1;
  }
}

.membercard-header {
  margin-bottom: map-get($spacers, 2);
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    'name name'
    'hire social';

  @include media-breakpoint-only(sm) {
    grid-template-areas:
      'name social'
      'hire ...';
  }

  @include media-breakpoint-up(lg) {
    grid-template-areas:
      'name social'
      'hire ...';
  }
}

.membercard-name {
  grid-area: name;
  margin: 0;
}

.membercard-social {
  grid-area: social;
}

.membercard-hire {
  grid-area: hire;
}

.membercard-icon {
  display: inline-block;
  width: 1.25rem;
  color: $secondary;

  @include media-breakpoint-up(lg) {
    width: 1.5rem;
  }

  .membercard-icon + &,
  .badge + & {
    margin-left: 0.5rem;
  }

  svg {
    fill: currentColor;
  }

  @include hover-focus() {
    color: darken($secondary, 10%);
  }
}

.member-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  svg {
    max-width: 600px;
  }
}
