.membercards {
  display: grid;
  gap: map-get($spacers, 5);
  grid-template-columns: 1fr;
  margin-bottom: map-get($spacers, 5);

  @include media-breakpoint-up(md) {
    grid-template-columns: 1fr 1fr;
  }
}

.membercard {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 2rem;
}

.membercard-bd {
  grid-column: 1 / span 2;
}

.membercard-header {
  margin-bottom: map-get($spacers, 2);

  @include media-breakpoint-up(lg) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h5 {
    flex: 1;
    margin-bottom: 0;
  }
}

.membercard-icon {
  display: inline-block;
  width: 1.25rem;
  color: $secondary;

  @include media-breakpoint-up(lg) {
    width: 1.5rem;
  }

  .membercard-icon + &,
  .badge + & {
    margin-left: 0.5rem;
  }

  svg {
    fill: currentColor;
  }

  @include hover-focus() {
    color: darken($secondary, 10%);
  }
}

.member-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  svg {
    max-width: 600px;
  }
}
