.membercards {
	display: grid;
	gap: map-get($spacers, 4);
	grid-template-columns: 1fr;
	margin-bottom: map-get($spacers, 5);

	@include media-breakpoint-up(md) {
		grid-template-columns: 1fr 1fr;
		gap: map-get($spacers, 5);
	}
}

.membercard {
	display: grid;
	grid-template-columns: 1fr 3fr;
	align-items: flex-start;
	grid-template-rows: min-content 1fr;
	grid-gap: 1rem;
	border-bottom: 1px solid rgba($pink, 0.1);
	padding-bottom: map-get($spacers, 4);
	scroll-margin-top: 100px;

	&:last-child {
		border-bottom: none;
		padding-bottom: 0;
	}

	@include media-breakpoint-up(sm) {
		grid-template-columns: 1fr 3fr 3.25rem;
	}

	@include media-breakpoint-up(md) {
		grid-template-columns: 1fr 2fr 3.25rem;

		&:nth-last-child(2):nth-child(odd) {
			border-bottom: none;
			padding-bottom: 0;
		}
	}

	@include media-breakpoint-up(lg) {
		grid-template-columns: 1fr 2fr 3.75rem;
	}
}

.membercard-bd {
	grid-column: 1 / span 2;
	display: grid;
	gap: 1em;

	@include media-breakpoint-up(sm) {
		grid-column: 2;
	}

	@include media-breakpoint-only(md) {
		grid-column: 1 / span 2;
	}
}

.membercard-img {
	@include media-breakpoint-up(sm) {
		grid-row: 1 / span 2;
	}
	@include media-breakpoint-only(md) {
		grid-row: 1;
	}

	img {
		filter: drop-shadow(0 0.125rem 0.25rem rgba(0, 0, 0, 0.2));
		border-radius: $border-radius-sm;
	}
}

.membercard-header {
	display: grid;
	grid-template-columns: 1fr;
	gap: 0.5em;

	// @include media-breakpoint-only(sm) {
	//   grid-template-areas:
	//     'name social'
	//     'teams ...';
	// }

	// @include media-breakpoint-up(lg) {
	//   grid-template-areas:
	//     'name social'
	//     'teams ...';
	// }
}

.membercard-name {
	// grid-area: name;
	margin: 0;
	a {
		color: $pink;
	}
}

.membercard-social {
	grid-column: 1 / span 2;
	display: flex;
	flex-wrap: wrap;
	gap: 0.75rem;

	@include media-breakpoint-up(sm) {
		grid-row: 1 / span 2;
		grid-column: 3;
		justify-content: flex-end;
	}
}

.membercard-teams {
	// grid-area: teams;
}

.membercard-icon {
	display: inline-block;
	width: 1.25rem;
	color: rgba($secondary, 0.5);
	transition: color 0.2s ease-in-out;

	@include media-breakpoint-up(lg) {
		width: 1.5rem;
	}

	// .membercard-icon + &,
	// .badge + & {
	//   margin-left: 0.5rem;
	// }

	svg {
		fill: currentColor;
	}

	@include hover-focus() {
		color: $secondary;
	}
}

.member-footer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	svg {
		max-width: 600px;
	}
}
