$enable-responsive-font-sizes: true;

$spacer: 1rem;
$spacers: (
  6: (
    $spacer * 6,
  ),
  7: (
    $spacer * 9,
  ),
  8: (
    $spacer * 12,
  ),
);

$white: #fff;
$gray-200: #eff0f3;
$gray-900: #0d0d0d;
$gray-800: #2a2a2a;

// $light: $gray-200;
$pink: #d9376e;
$red: #dc3545;
$orange: #dd7123;
$primary: $orange;
$secondary: $pink;

$body-bg: $white;
$body-color: $gray-800;
// $headings-color: $gray-900;

$card-height: 100%;
