/.nova
.DS_Store
node_modules
/_site
/src/assets/css
/src/assets/rev
/assets.json
/.env
/.cache

# Local Netlify folder
.netlify

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
