# Inheiriting from .gitignore following advice from prettier docs https://prettier.io/docs/en/install.html

/.nova
.DS_Store
node_modules
/_site
/src/assets/css
/src/assets/rev
/assets.json
/.env
/.cache

/netlify/functions/server
/public/build

# Local Netlify folder
.netlify
/app/styles
/.tmp
/app/_generatedData