---
title: 'Monthly Theme & Challenge for March, 2022: Creating Audio/Visual content'
description: 'March challenge -> Break out your cameras and your microphones. This month we are working on AV content'
layout: layouts/simple.njk
date: 2022-03-01
tags: monthlychallenges
---

<h1>
	<small>Monthly Challenge for March, 2022:</small> Show your work! Creating
	Audio/Visual content
</h1>

<p class="lead">
	We all have something to share. And when we share with others, we both invite
	them to share with us and create a community of knowledge sharing and access
	to learning. This month, we'll focus on a different form of sharing:
	Audio/Visual
</p>

<p class="lead">
	We don't expect a fancy production, but we want you to challenge yourself to
	share what you learned. You might create a YouTube video, do a livestream,
	share on a podcast, or create a TicTok.
</p>

<hr />

<h2>Theme</h2>
<p>Show your work! Creating Audio/Visual content challenge</p>

<h2>Goals</h2>
<ul>
	<li>To present your knowledge and showcase your understanding</li>
	<li>To explore video and audio mediums for sharing knowledge</li>
	<li>To highlight your achievements</li>
	<li>To promote growth through sharing</li>
</ul>

<h3>Who can participate?</h3>
<p>
	Virtual Coffee's goal is to support all developers, no matter where they are
	in their coding journey. We encourage all members to participate. This
	challenge can be done alone or in a group.
</p>

<h3>How it works</h3>
<p>
	Share your progress in the #monthly-challenge channel in Slack. We have a
	slack reminder everyday, but feel free to post when you can. Some of our
	monthly-challenge team will also be holding video check-ins, so be on the
	lookout for those announcements!
</p>

<p>
	While no other platform is imposed, it can be a good idea to also share on
	social media for more reach but only if you are comfortable to do so (Twitter,
	a personal blog, a post on DEV.to, etc.).
</p>
<ul>
	<li>
		For this month we're asking members to submit brownbags, youtube videos,
		podcasts, or some other form of audio or video content you created that
		explores a coding-related concept--there's no length requirement
	</li>
	<li>
		Keep in mind that we know sharing can be hard, but it also provides a ton of
		value by:
		<ul>
			<li>Solidifying ideas.</li>
			<li>Allowing you to be a resource for others.</li>
			<li>
				Inviting personal growth through conversations sparked by your sharing.
			</li>
			<li>Demonstrating your ability to talk through a concept.</li>
		</ul>
	</li>
	<li>
		On March 26th, we'll wrap up our challenge with lightning talks and have a
		space for members to sumbit their own AV content on our site.
	</li>
</ul>

<h3>Creating Audio Visual Content Resources</h3>
<strong>Screen Recording Tools</strong>
<ul>
	<li><a href="https://obsproject.com/">Open Broadcaster Software</a></li>
	<li><a href="https://www.loom.com/">Loom</a></li>
	<li>
		<a href="https://www.telestream.net/screenflow/overview.htm">Screenflow</a>
	</li>
</ul>
<strong>Video/Audio editing Tools</strong>
<ul>
	<li><a href="https://kdenlive.org/en/">kdenlive</a></li>
	<li><a href="https://miro.com/">Miro</a></li>
	<li><a href="https://github.com/ExistentialAudio/BlackHole">BlackHole</a></li>
	<li><a href="https://rogueamoeba.com/audiohijack/">Audio Hijack</a></li>
</ul>
<strong>YouTube Video Shooting Channels</strong>
<ul>
	<li>
		<a href="https://www.youtube.com/user/petermckinnon24">Peter McKinnon</a>
	</li>
	<li><a href="https://www.youtube.com/user/indymogul/">Indy Mogul</a></li>
	<li><a href="https://www.youtube.com/user/filmriot">Film Riot</a></li>
</ul>
<p>
	If you'd like to recommend a resource for creating AV content, you can add
	them to
	<a href="https://github.com/Virtual-Coffee/virtualcoffee.io/discussions/526"
		>this discussion</a
	>.
</p>

<h3>What if I need help?</h3>
<p>
	You can ask a question in the #help-and-pairing VC channel, get 1:1 help
	during Office Hours (you can find the doc for office hours at the top of the
	#help-and-pairing channel.), join the VC co-working room, or ask at a coffee!
	Asking for help is part of the process.
</p>
<p>
	We have #learning-together channel in slack if you're looking for a study
	buddy, or you can create your own
	<a href="https://github.com/Virtual-Coffee/virtualcoffee.io/discussions/493"
		>cohort</a
	>
</p>

<p>And remember, we're always here to help ❤️</p>
