{% macro membercards(membersList) %}
  <div class="membercards">
    {% for member in membersList %}
      <div class="membercard">
        <div class="membercard-img">
          <img src="{{member.avatar_url}}" class="shadow-sm rounded" alt="{{member.name}} profile image">
        </div>

        <div class="membercard-header">
          <h5 class="text-truncate">
            {% if member.blog %}
              <a href="{{member.blog}}" target="_blank" rel="noopener noreferrer">{{member.name}}</a>
            {% else %}
              <a href="{{member.html_url}}" target="_blank" rel="noopener noreferrer">{{member.name}}</a>
            {% endif %}

          </h5>
          <div class="membercard-social">
            {% if member.hireable %}
              <span class="badge badge-secondary">Available for work!</span>
            {% endif %}

            <a href="{{member.html_url}}" class="membercard-icon" title="{{member.login}} on GitHub" target="_blank" rel="noopener noreferrer">{% include "svg/github.svg" %}</a>
            {% if member.twitter_username %}
              <a href="https://twitter.com/{{member.twitter_username}}" title="{{member.twitter_username}} on Twitter" class="membercard-icon" target="_blank" rel="noopener noreferrer">{% include "svg/twitter.svg" %}</a>
            {% endif %}
          </div>
        </div>
        <div class="membercard-bd">
          <p class="text-muted">{{member.bio}}</p>
          {% if member.blog %}
            <div class="text-truncate">
              <a href="{{member.blog}}" target="_blank" rel="noopener noreferrer">{{member.blog | replace('https://','') | replace('http://','')}}</a>
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endmacro %}
