{% macro membercards(membersList, memberData) %}
  <div class="membercards">
    {% for username in membersList %}
      {% set member = memberData[username | lower] %}
      <div class="membercard" id="member_{{username}}">
        <div class="membercard-img">
          <img src="{{member.avatarUrl}}" alt="{{member.name}} profile image">
        </div>

        <div class="membercard-header">

            <h5 class="membercard-name">
              {% if member.websiteUrl %}
                <a href="{{member.websiteUrl}}" target="_blank" rel="noopener noreferrer">{{member.name}}</a>
              {% else %}
                <a href="{{member.url}}" target="_blank" rel="noopener noreferrer">{{member.name}}</a>
              {% endif %}

            </h5>
            <div class="membercard-social">
              <a href="{{member.url}}" class="membercard-icon" title="{{member.login}} on GitHub" target="_blank" rel="noopener noreferrer">{% include "svg/github.svg" %}</a>
              {% if member.twitterUsername %}
                <a href="https://twitter.com/{{member.twitterUsername}}" title="{{member.twitterUsername}} on Twitter" class="membercard-icon" target="_blank" rel="noopener noreferrer">{% include "svg/twitter.svg" %}</a>
              {% endif %}
            </div>


            <div class="membercard-hire">{% if member.isHireable %}<span class="badge badge-secondary">Available for work!</span>{% endif %}</div>

        </div>
        <div class="membercard-bd">
          {% if member.bioHTML %}
            <div class="text-muted">{{member.bioHTML | safe}}</div>
          {% endif %}
          {% if member.websiteUrl %}
            <div class="text-truncate">
              <a href="{{member.websiteUrl}}" target="_blank" rel="noopener noreferrer">{{member.websiteUrl | replace('https://','') | replace('http://','')}}</a>
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endmacro %}

{% macro smallMembercards(membersList, memberData) %}
  <div class="membercards-sm">
    {% for username in membersList %}
      {% set member = memberData[username | lower] %}
      <div class="membercard-sm">
        <div class="membercard-img-sm">
          <img src="{{member.avatarUrl}}" class="shadow-sm rounded" alt="{{member.name}} profile image">
        </div>


            <h5 class="membercard-name-sm">
                <a href="#member_{{username}}">{{member.name}}</a>
            </h5>


      </div>
    {% endfor %}
  </div>
{% endmacro %}
