---
title: 'Monthly Challenge for January, 2021: Month of Learning!'
description: 'January challenge -> Learn some stuff!'
layout: layouts/simple.njk
date: 2021-01-01
tags: monthlychallenges
---

<h1><small>Monthly Challenge for January, 2021:</small> Month of Learning!</h1>

<p class="lead">Here's an intro paragraph.</p>

<p class="lead">Or two.</p>

<hr />

<h2>Theme</h2>
<p>Month of learning challenge</p>
<h2>Duration</h2>
<ul>
  <li>Entire month of January</li>
  <li>loosely broken into 4 week sprints</li>
</ul>
<h2>Goals</h2>
<p>To learn something new, and share what we've learned with the community</p>
<h2>How it works</h2>
<ul>
  <li>Challenge can be done individually, or in teams</li>
  <li>
    Each week, members choose something they want to learn, and try to
    accomplish it using whatever resources they feel comfortable trying.
  </li>
  <li>
    At the end of the week, members share what they learned and what they did.
  </li>
  <li>
    At the end of the month, we are share recommendations of the best tools,
    guides, and resources we found to gain understanding on the topics we
    picked.
  </li>
  <li>
    Like previous challenges, the website will be set up so people can track
    what they, and other members have been learning through PRs.
  </li>
  <li>
    For those who would like to give a more thorough explanation of their
    topics, there will be lightning talks in February as an opportunity to do
    so.
  </li>
</ul>
<h2>Additional Notes</h2>
<ul>
  <li>
    As always if members need assistance coming up with an idea or finding
    resources they can reach out to the leadership team and other senior VC
    members
  </li>
  <li>
    If a member wants to repeat the same thing in multiple weeks, or do
    multiple topics over one week, that's okay! The four weeks isn't a hard
    and fast rule, it's just meant to be a guide to help make framing their
    learning easier.
  </li>
</ul>


