{% set pageUrl = page.url | qualifiedUrl %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | assetPath }}"/>
    <link rel="canonical" href="{{pageUrl}}" />

    <meta property="og:title" content="{{ title or metadata.title }}" />
    <meta property="og:description" content="{{ description or metadata.description }}" />
    <meta property="og:url" content="{{pageUrl}}" />
    <meta property="og:image" content="{{ '/assets/images/vc-social-card.png' | qualifiedUrl }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title or metadata.title }}" />
    <meta name="twitter:description" content="{{ description or metadata.description }}" />
    <meta name="twitter:url" content="{{pageUrl}}" />
    <meta name="twitter:image" content="{{ '/assets/images/vc-social-card.png' | qualifiedUrl }}">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#d9376e">
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#d9376e">
    <meta name="msapplication-config" content="/assets/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    {# <link rel="stylesheet" href="https://rsms.me/inter/inter.css"> #}
  </head>
  <body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>

    <nav class="navbar navbar-expand-sm navbar-dark bg-primary fixed-top w-100">
      <a class="navbar-brand" href="/">
        {% include "svg/virtual-coffee-full-w.svg" %}
        {# {% include "svg/vc-logo-mug.svg" %} #}
      </a>
      <button class="navbar-toggler" type="button" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      {{ collections.topnav | eleventyNavigation | eleventyNavigationToHtml({
        listClass: "navbar-nav",
        listItemClass: "nav-item",
        activeListItemClass: "active",
        anchorClass: "nav-link",
        activeKey: eleventyNavigation.key
      }) | safe }}
      </div>
    </nav>

    {{ content | safe }}

    <footer class="py-5 text-center text-muted bg-white border-top border-secondary main-footer">
      <ul>
        <li>&copy; {{page.date.getFullYear()}} Virtual Coffee</li>
        <li>
          <a href="mailto:hello@virtualcoffee.io">Contact Us</a>
        </li>
        <li class="py-0">
          <a href="https://www.netlify.com" target="_blank" rel="noopener noreferrer">
            <img src="https://www.netlify.com/img/global/badges/netlify-dark.svg" alt="Deploys by Netlify" loading="lazy"/>
          </a>
        </li>
      </ul>
    </footer>

    <script>

      var toggle = document.querySelector('[aria-controls="navbarNav"]');
      var menu = document.querySelector('#navbarNav');

      toggle.addEventListener('click', function () {
        if (menu.classList.contains('show')) {
          this.setAttribute('aria-expanded', 'false');
          menu
            .classList
            .remove('show');
        } else {
          menu
            .classList
            .add('show');
          this.setAttribute('aria-expanded', 'true');
        }
      });


    </script>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>