---
layout: layouts/base.njk
metadata:
  tags:
    'fb:app_id': '1345357125835406'
    'og:type': 'video.episode'
    'og:image:width': 250
    'og:image:height': 250
    'twitter:card': 'player'
    'twitter:site': '@VirtualCoffeeIO'
    'twitter:player:width': '500'
    'twitter:player:height': '210'
    'twitter:player:stream:content_type': 'audio/mp3'
---

<div class="container-lg py-md-4">
	<h1 class="display-5">{{title}}</h1>
	<div class="text-right mb-2">
		<code>
			<span class="d-block d-sm-inline"
				>Season {{podcast.season}}, Episode {{podcast.episode}}
			</span>
			<span class="d-none d-sm-inline">|</span>
			<span class="d-block d-sm-inline"
				>{{ page.date | dateForDisplay('DDD') }}</span
			>
		</code>
	</div>

	<div class="lead">{{podcast.intro | safe}}</div>

	<div class="my-4 podcastplayer">
		{% if podcast.playerSrc %}
		<div id="buzzsprout-player-{{podcast.id}}"></div>
		<script
			src="{{podcast.playerSrc}}"
			type="text/javascript"
			charset="utf-8"
			async
		></script>
		{% endif %}
	</div>

	{% podcastSubscribe %}

	<hr />
	<div class="row">
		<div class="col-md-5 col-lg-4 order-md-2 pb-4 pb-md-0">
			{% for guest in podcast.guests %}
			<div class="card mb-4">
				<div class="row no-gutters">
					<div class="col-sm-4 col-md-12">
						<img
							alt="{{guest.headshotAlt}}"
							class="card-img-top"
							src="{{guest.headshot | buildImgixUrl({w:258})}}"
							sizes="(min-width: 1200px) 338px, (min-width: 992px) 258px, (min-width: 768px) calc((100vw - 150px) * (5 / 12)), (min-width: 576px) calc((100vw - 60px) / 3), calc(100vw - 60px)"
							srcset="{{guest.headshot | buildImgixSrcSet([1352, 1032, 1026, 704, 676, 516, 513, 352, 338, 258])}}"
						/>
					</div>
					<div class="col-sm-8 col-md-12">
						<div class="card-body">
							<h5 class="card-title">{{guest.name}}</h5>
							{{guest.bio | safe}}
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="col-md-7 col-lg-8 order-md-1">
			<main id="maincontent">{{ content | safe }}</main>

			<hr />

			<h4>Sponsor Virtual Coffee!</h4>

			<p>
				Your support is incredibly valuable to us. Direct financial support will
				help us to continue serving the Virtual Coffee community.
			</p>

			<p>
				Please visit
				<a href="https://github.com/sponsors/Virtual-Coffee"
					>our sponsorship page on GitHub</a
				>
				for more information - you can even
				<a href="https://github.com/sponsors/Virtual-Coffee?frequency=one-time"
					>sponsor an episode of the podcast!</a
				>
			</p>

			<h5>Virtual Coffee:</h5>
			<ul>
				<li>
					Virtual Coffee:
					<a href="https://virtualcoffee.io/">virtualcoffee.io</a>
				</li>
				<li>
					Podcast Contact:
					<a href="mailto:podcast@virtualcoffee.io">podcast@virtualcoffee.io</a>
				</li>
				<li>
					Bekah: <a href="https://dev.to/bekahhw">dev.to/bekahhw</a>, Twitter:
					<a href="https://twitter.com/bekahhw">https://twitter.com/bekahhw</a>,
					Instagram: <a href="https://www.instagram.com/bekahhw">bekahhw</a>
				</li>
				<li>
					Dan: <a href="https://dtott.com">dtott.com</a>, Twitter:
					<a href="https://twitter.com/danieltott">@danieltott</a>
				</li>
			</ul>

			{% if transcript %}
			<hr />
			<h3>Transcript:</h3>
			<dl class="transcript">
				{% for line in transcript %}
				<dt>{{line.name}}: <time>{{line.timestamp}}</time></dt>
				<dd><p>{{line.text}}</p></dd>
				{% endfor %}
			</dl>
			{% endif %}
			<hr />
			<p>
				<em
					>The Virtual Coffee Podcast is produced by Dan Ott and Bekah Hawrot
					Weigel and edited by Andy Bonjour at GoodDay Communications.</em
				>
			</p>
		</div>
	</div>
</div>
