---
title: 'Virtual Coffee Monthly Challenges'
description: 'Every month, we create a challenge for our Virtual Coffee members to complete together'
layout: layouts/default.njk
hero: 'svg/undraw_good_team_m7uu.svg'
heroHeader: Virtual Coffee Monthly Challenges
heroSubheader: Every month, we create a challenge for our Virtual Coffee members to complete together
homePageBlocks:
  type: large
  key: Monthly Challenges
  order: 4
  collectionKey: monthlychallenges
---

<div class="bg-light py-5">
  <div class="container-xl">
    <h2 class="display-5">Our challenges so far:</h2>

    {% displayPostList collections.monthlychallenges | reverse %}
  </div>
</div>