---
layout: layouts/default.njk
title: Virtual Coffee Guide
description: Guide to Virtual Coffee!
---

<div class="py-4">
 <div class="container">
   <div class="row align-items-center">
     <div class="col-sm-4">
       {% include "svg/undraw_product_teardown_elol.svg" %}
     </div>
     <div class="col-sm-8">
       <h1 class="display-4">Virtual Coffee User Guide</h1>
       <p class="lead ">A user guide to getting the most out of Virtual Coffee.</p>
     </div>
   </div>
 </div>
</div>

<div class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1>How to Use Virtual Coffee(VC)</h1>
                <ul class="list-unstyled">
                  <li><h2>Zoom Meetings</h2></li>
                  <ul class="list-unstyled">
                    <li>We have twice weekly Zoom Meetings. Morning Crew Tuesday at 9:00 AM EDT and Afternoon Crowd on Thursday 12:00 PM EDT. They last about an hour. We want everyone to be casual and comfortable. We meet in the main room for pre coffee chatter talk then move to breakout rooms. There we introduce ourselves with some standard questions.<ul>
                    <li>What's your name?</li>
                    <li>What you do?</li>
                    <li>Where you are you from?</li>
                    <li>What's your answer to the ice breaker question? This is nontech question to add some fun to the conversation. Past questions have been. "What's your favorite food?", "Who would play you in a movie?"</li>
                    <li>Each room will have a Room Lead and a Note Taker. Notes will later be shared in VC Slack.
                     <li> We go into a deeper discussion on other tech related topics. The Room Lead will start the conversation. We usually have a preplanned topic but are also open to other thing the room wants to discuss. You can have camera on or off. We like to use the hand raise feature on Zoom. We love to see kids or pets.</li>
                     <li>Near the end of the hour we return to the main room for wrap up and announcements.</li>
                     <li>We share our Code of conduct and the link the membership application</li>
                     </ul>

                    </li>
                    <li>You can register and view all of our upcoming events on <a href="https://meetingplace.io/virtual-coffee">MeetingPlace.io</a></li>
                </ul><br>

                  <li><h2>Virtual Coffee Slack</h2></li>
                    <ul class="list-unstyled">
                    <li>Much of Virtual Coffee occurs on Slack. We discuss our monthly challenges and have several useful channels. 
                    <li>Book Club</li>
                    <li>Co-working Room</li>
                    <li>Help and Pairing</li>
                    <li>Interview Study Group.</li>
                    </ul><br>

                  <ul class="list-unstyled">
                  <li><h2>Code of Conduct</h2></li>
                  In order to create a welcoming and inclusive community, we pledge to make participation in our community a harassment-free experience for everyone, regardless of age, body size, visible or invisible disability, ethnicity, gender identity and expression, level of experience, education, socio-economic status, nationality, personal appearance, race, religion, or sexual identity and orientation.
                  We take our Code of Conduct seriously. You can find a copy of it <a href="/code-of-conduct">
                  here</a> this is shared at every Coffee.
                  </ul><br>

                    <ul class="list-unstyled">
                  <li><h2>How to Participate in VC Events</h2></li>
                      <li>Monthly Challenges</li>
                       <ul>We hold monthly challenges for our Virtual Coffee members to complete together. Past challenges have included a 50K Blog writing challenge, giving feedback, and HacktoberFest. You can read about them on our <a href="/monthlychallenges/">Challenges page.</a></ul>
                      <li>Lunch and Learns</li>
                        <ul>Presented by one of our members, these are hour long Member only Zoom events on something a member wants to share. It can be a traditional conference-style talk, panel discussion, question and answer, or a combination. Eventually posted on our YouTube page. But only VC members can join the live event. Link will be shared in the VC slack shortly before the session goes live. If you'd like to submit a Lunch and Learn there is a link pinned in the VC-Events Slack channel.</ul>
                      <li>Lighting Talks</li>
                        <ul>Occasionally we hold Lightning talk sessions. They are 5-20 minute talks on one main idea. We have a group of members take turns presenting. Applications links will be shared in VC slack. This is a great way to try your hand at  public speaking.</ul>
                      <li>Open source contributions or HacktoberFest</li></ul>
                  </ul><br>

                <h2>Our Community Runs On You!</h2>
                <ul class="list-unstyled">
                <li>How do I become a member? <BR>
                  <p>To become a member of Virtual Coffee, all you need to do is <a href="/events">attend a Tuesday or Thursday Coffee</a> and submit the form you'll receive at coffee. We absolutely love the closeness of this community and know it’s one of the many things that sets us apart. This closeness starts with those coffees.</p>
                  <li>How to volunteer</li>
                    <ul><li>We have a teams that work on various parts of Virtual Coffee. Contact the VC maintainers at <a href="mailto:hello@virtualcoffee.io">hello@virtualcoffee.io.</a> and let them know how you can help.</li></ul>
                  <li>How to contribute</li>
                      <ul class="list">
                        <li>Answer questions in the Help-and-paring channel on VC Slack</li>
                        <li>Join the Co-working room on VC Slack</li>
                        <li>Present a Lunch and Learn</li>
                        <li>Greet people in the Welcome channel</li>
                      </ul>

                </ul>

                <h2>How to Stay Updated</h2>
                <ul class="list-unstyled">
                  <li><a href="/newsletter">Newsletter</li>
                  <li><a href="/podcast">Podcast</a></li>
                  <li><a href="https://twitter.com/VirtualCoffeeIO">Twitter</a></li>
                  <li><a href="https://www.youtube.com/c/virtualcoffeeio">YouTube</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>