---
layout: layouts/default.njk
title: Guide To Virtual Coffee
description: A user guide for current members to get the most out of Virtual Coffee.
tags: memberresources
---

<div class="py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-4">
        {% include "svg/undraw_product_teardown_elol.svg" %}
      </div>
      <div class="col-sm-8">
        <h1 class="display-4">Guide To Virtual Coffee</h1>
        <p class="lead">
          A user guide for current members to get the most out of Virtual Coffee.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="bg-light py-5">
  <div class="container">
    <p class="display-4 mb-5">Welcome to Virtual Coffee! 👋</h1>
    <p class="lead">
      Onboarding processes sometimes can be confusing, this is just as true for software as well as communities!
    </p>
    <p class="lead">
      We get many questions such as "I have some questions or ideas, how and where should I ask this?", "Do we have a channel for {something}?" or "how to find a channel in Slack?", "I would like to help, how to volunteer?" And many more!
    </p>
    <p class="lead">
      To give you the best experience, and to get the most out of Virtual Coffee, we created the official "Virtual Coffee Guide"!
    </p>

    <hr>

    <h2>Table of Contents:</h2>
    <ul>
      <li><a href="#code-of-conduct">Code of Conduct</a></li>
      <li>
        <a href="#what-to-expect">What To Expect In Virtual Coffee</a>
        <ul>
          <li><a href="#coffees">Coffees (Zoom Meetings)</a></li>
          <li><a href="#vc-slack">Virtual Coffee On Slack</a></li>
          <li><a href="#vc-events">Virtual Coffee Events</a></li>
        </ul>
      </li>
      <li>
        <a href="#giving-back">Giving Back To The Community</a>
        <ul>
          <li><a href="#volunteering">Volunteering At Virtual Coffee</a></li>
          <li><a href="#contributing">Contributing To Virtual Coffee</a></li>
        </ul>
      </li>
      <li>
        <a href="#keeping-up">Keeping Up With Virtual Coffee</a>
        <ul>
          <li><a href="#vc-podcast">Virtual Coffee Podcast</a></li>
          <li><a href="#vc-newsletter">Virtual Coffee Newsletter</a></li>
          <li><a href="#vc-twitter">VC on Twitter</a></li>
          <li><a href="#vc-youtube">VC on YouTube</a></li>
        </ul>
      </li>
    </ul>

    <hr />

    <h2 id="code-of-conduct"><a href="/code-of-conduct">Code of Conduct</a></h2>
    <p>
      This is the most important part of Virtual Coffee. We want this community
      to be a welcoming, inclusive, supportive and safe place for all our
      members.
    </p>
    <p>
      We pledge to make participation in our community a harassment-free
      experience for everyone, regardless of age, body size, visible or
      invisible disability, ethnicity, gender identity and expression, level of
      experience, education, socio-economic status, nationality, personal
      appearance, race, religion, or sexual identity and orientation.
    </p>
    <p>
      <em>We do take our Code of Conduct seriously.</em> You can find a copy of
      it here <a href="/code-of-conduct/">on our website</a>.
    </p>

    <h3>Someone is harassing me. How can I report this?</h3>
    <p>
      You can report your experience to the Moderator responsible for
      enforcement at hello@virtualcoffee.io or anonymously at
      <a href="https://virtualcoffee.io/report-coc-violation"
        >virtualcoffee.io/report-coc-violation</a
      >.
    </p>
  </div>
</div>
<div class="bg-white py-5">
  <div class="container">
    <h2 id="what-to-expect" class="display-4 mb-5">What To Expect In Virtual Coffee</h2>

    <h3 id="coffees">Coffees (Zoom Meetings)</h3>

    <p class="lead">
      We have twice weekly Coffees (Zoom Meetings) on
      <strong>Tuesday at 9:00 AM ET</strong> and
      <strong>Thursday at 12:00 PM ET</strong> that last for an hour.
    </p>
    <p>
      This is a good place and time to meet and get to know other members, old
      and new, through casual conversations.
    </p>
    <p>
      Considering the size of audiences, after some intro from the MC, we will
      break the crowd into breakout rooms so everybody can have a more relaxed
      and intimate atmosphere of conversations.
    </p>
    <p>You are here only to listen and chill? No problem!</p>
    <p>
      You cannot or are not comfortable having your camera or even sound on?
      Feel free to turn them off! There is no obligation for you to do so. We
      want these meetings to be as comfortable as possible for you.
    </p>

    <hr />

    <h3 id="vc-slack">Virtual Coffee On Slack</h3>
    <p class="lead">
      Much of Virtual Coffee occurs on Slack. We have channels in our Slack to
      accommodate our members. We do encourage our members to participate in
      Slack to get the most out of Virtual Coffee.
    </p>
    <h4>How to find channels in Slack?</h4>
    <h5>On computer:</h5>
    <ul>
      <li>Hover over to Channel tab on the left side</li>
      <li>Click the "+" button</li>
      <li>Click "Browse channels"</li>
      <li>Find a channel that you want to join</li>
      <li>Click "Join" button</li>
    </ul>
    <h5>On phone:</h5>
    <ul>
      <li>Click the "+" button</li>
      <li>Search a channel by scrolling down</li>
      <li>Click on the channel</li>
      <li>Click "Join channel" button</li>
    </ul>
    <p>
      Tips: You can scroll in a channel's conversation to understand better what
      the channel is all about before clicking the "Join" button.
    </p>
    <h4>How to leave a channel in Slack?</h4>
    <p>If you decided to leave a channel:</p>
    <h5>On computer:</h5>
    <ul>
      <li>Right click on the channel that you want to leave</li>
      <li>Click "Leave channel"</li>
    </ul>
    <h5>On phone:</h5>
    <ul>
      <li>Click on the channel that you want to leave</li>
      <li>Click the "i" button at the top right corner</li>
      <li>Click "Leave"</li>
    </ul>
    <h4>Several useful channels in our Slack (not in particular order)</h4>
    <ul>
      <li>
        <h5><code>#help-and-pairing</code></h5>

        <p>
          Do you have any questions about your code? Or do you need someone to
          help you by pairing? You can ask for it on this channel. Some of our
          members also provide open-office schedules to help other members in
          need that you can find pinned in this channel.
        </p>
      </li>
      <li>
        <h5><code>#co-working-room</code></h5>

        <p>
          Do you want to work or learn with people around, or just want to hang
          out with other members? Thanks to Dan Ott, we now have a
          co-working-room channel linked to our Zoom so our members can connect
          with each other, anytime they want! It's open 24/7!
        </p>
      </li>
      <li>
        <h5><code>#tech-interview-study-group</code></h5>

        <p>
          In this channel, you could ask other members to help reviewing your
          resume or to answer any questions you have regarding the tech
          interview process.
        </p>
        <p>
          We have weekly meetings to discuss anything related to job search and
          interviews. Also based on request, some of our members will help to do
          mock interviews.
        </p>
      </li>
      <li>
        <h5><code>#content-creation</code></h5>

        <p>
          Do you have any questions around blog posts, or streaming, or video
          content? Or you simply want to share your work? This is the channel
          that you're looking for.
        </p>
      </li>
      <li>
        <h5><code>#book-club</code></h5>

        <p>
          If you love reading, based on members' choice, at the beginning of the
          month the moderator of the book club channel will pick a book to read
          and discuss it together at the end of the month.
        </p>
      </li>
      <li>
        <h5><code>#health-and-fitness</code></h5>

        <p>
          Because we also need to think of our health! This channel is very
          useful to share your regular workouts and healthy habits.
        </p>
      </li>
      <li>
        <h5><code>#goals-and-wins</code></h5>

        <p>
          What are your goals this week? Do you have any wins? Feel free to
          share them here!
        </p>
      </li>
      <li>
        <h5><code>#parenting</code></h5>

        <p>Some of us are parents, and we need support from each other too!</p>
      </li>
    </ul>

    <hr />

    <h3 id="vc-events"><a href="/events">Virtual Coffee Events</a></h3>

    <p class="lead">
      Our members voluntarily hold events from members to members! Check out
      <a href="/events">our Events page</a> for a full listing.
    </p>

    <h4><a href="/monthlychallenges/">Monthly Challenges</a></h4>

    <p>
      Every month we hold a
      <a href="/monthlychallenges/">monthly challenge</a> which we encourage our
      members to participate in!
    </p>
    <p>
      At the end of the month there would be an announcement on what we will do
      for the upcoming monthly challenge. Starting at the beginning of the
      month, members can update their progress in a Slack’s channel that is
      provided special for monthly challenges.
    </p>

    <h4>Lunch & Learn</h4>

    <p>
      Lunch & Learns are events lead concieved of and lead by our members. They
      can be traditional conference-style talk, panel discussion, question and
      answer, or a combination, usually for about an hour.
    </p>
    <p>
      If a member has a topic that they want to share through Lunch ‘N Learn,
      they can do so by filling out
      <a href="/lunch-and-learn-idea/">the Lunch & Learn Idea form</a>, then our
      coordinators will coordinate and accommodate the talk.
    </p>

    <h4>Lightning Talks</h4>

    <p>
      Occasionally we hold Lightning Talk sessions. A group of members take
      turns presenting their talk in a 5-20 minutes time range. Applications
      link will be shared in Virtual Coffee Slack. This is a great way to try
      your hand at public speaking!
    </p>
    <p>
      Do check the
      <a
        href="https://www.youtube.com/playlist?list=PLh9uT23TA65infGqUUaVibI0IssI0G6NY"
        >playlist on youtube</a
      >
      from our latest sessions!
    </p>

    <h4>HacktoberFest</h4>

    <p>
      Yes! We do participate in
      <a href="https://hacktoberfest.digitalocean.com"
        >Digital Ocean's HacktoberFest</a
      >! In fact, Virtual Coffee is also open source. Every October we help our
      members to contribute to and/or maintain open sources.
    </p>

    <p class="text-right"><a href="#top">Back to Top</a></p>
  </div>
</div>
<div class="bg-light py-5">
  <div class="container">
    <h2 id="giving-back" class="display-4 mb-5">Giving Back To The Community</h2>

    <h3 id="volunteering">Volunteering At Virtual Coffee</h3>

    <p>
      As you can see, Virtual Coffee has Coffees (Zoom Meetings), events, even
      office hours! And these are all becoming possible thanks to our members
      who run these voluntarily.
    </p>
    <p>
      If you would like to volunteer in anything, please contact one of our
      <a href="/members/">community maintainers</a>, or reach out to us at
      hello@virtualcoffee.io
    </p>

    <hr />

    <h3 id="contributing">Contributing To Virtual Coffee</h3>

    <h4>Open Source</h4>

    <p>
      Virtual Coffee’s website is
      <a href="https://github.com/Virtual-Coffee/virtualcoffee.io"
        >open source</a
      >
      and we love contributions!
    </p>
    <p>
      Please read our
      <a
        href="https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/CONTRIBUTING.md"
        >Contributing Guide</a
      >
      for some guidance on contributing to virtualcoffee.io!
    </p>

    <h4>
      <a href="https://github.com/sponsors/Virtual-Coffee">Sponsorship</a>
    </h4>

    <p>
      Our members volunteer their time and support for Virtual Coffee to run.
      <a href="https://github.com/sponsors/Virtual-Coffee"
        >Direct financial support</a
      >
      will help us to continue serving the Virtual Coffee community, and to
      support all of the things you see on this page!
    </p>

    <p class="text-right"><a href="#top">Back to Top</a></p>
  </div>
</div>
<div class="bg-white py-5">
  <div class="container">
    <h2 id="keeping-up" class="display-4 mb-5">Keeping Up With Virtual Coffee</h2>



    <h3 id="vc-podcast"><a href="/podcast/">Virtual Coffee Podcast</a></h3>

    <p>
      We interview members of the community to learn more about their stories,
      who they are, how they found Virtual Coffee, and how that influences their
      lives as developers.
    </p>
    <p>
      You can subscribe and listen to our backlog of episodes on the
      <a href="/podcast/">Virtual Coffee Podcast page</a>.
    </p>

    <hr />

    <h3 id="vc-newsletter"><a href="/newsletter">Virtual Coffee Newsletter</a></h3>

    <p>
      Every month we publish a newsletter for our members to keep up with
      Virtual Coffee. Our newsletter will include upcoming Virtual Coffee
      events, interesting things our members are doing, job postings we've seen,
      and lots more.
    </p>
    <p>
      You could subscribe to or read the newsletter on the
      <a href="/newsletter">Virtual Coffee Newsletter page</a>.
    </p>

    <h3 id="vc-twitter"><a href="https://twitter.com/VirtualCoffeeIO">@VirtualCoffeeIO</a> on Twitter</h3>

    <p>
      Come chat on Twitter!
    </p>

    <h3 id="vc-youtube"><a href="https://www.youtube.com/channel/UCc0579aGEy7jTAgRglR4J0g">VC on YouTube</a></h3>

    <p>
      We post event recordings and other resources on our <a href="https://www.youtube.com/channel/UCc0579aGEy7jTAgRglR4J0g"></a>YouTube Channel</a>.
    </p>




    <p class="text-right"><a href="#top">Back to Top</a></p>
  </div>
</div>
