---
layout: layouts/default.njk
title: Virtual Coffee Guide
description: Guide to Virtual Coffee!
---

<div class="py-4">
 <div class="container">
   <div class="row align-items-center">
     <div class="col-sm-4">
       {% include "svg/undraw_product_teardown_elol.svg" %}
     </div>
     <div class="col-sm-8">
       <h1 class="display-4">Virtual Coffee User Guide</h1>
       <p class="lead ">A user guide to getting the most out of Virtual Coffee.</p>
     </div>
   </div>
 </div>
</div>

<div class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1>How to Use Virtual Coffee(VC)</h1>
                <ul class="list-unstyled">
                  <li><h2>Zoom Meetings</h2></li>
                  <ul class="list-unstyled">
                    <li>We have twice weekly Zoom Meetings. Morning Crew Tuesday at 9:00 AM EDT and Afternoon Crowd on Thursday 12:00 PM EDT. THey last about an hour. We want everyone to be casual and comforatble. We meet in the main room for some water cooler talk then move to breakout rooms. There we introduce ourselves with some standard questions.<ul>
                    <li>What's your name?</li>
                    <li>What you do?</li>
                    <li>Where you are you from?</li>
                    <li>What's your answer to the ice breaker question? This is nontech question to add some fun to the conversation. Past questions have been. "What's your favorite food?", "Who would play you in a movie?"</li>
                    <li>Each room will have a Room Lead and a Note Taker. Notes will later be shared in VC Slack.
                     <li> We go into a deeper dicussion on other tech related topics. The Room Lead will start the coversation. We usally have a preplanned topic but are also open to other thing the room wants to discuss. You can have camera on or off. We like to use the hand raise feature on Zoom. We love to see kids or pets.</li>
                     <li>Near the end of the hour we return to the main room for wrap up and announcements.</li>
                     </ul>

                    </li>
                    <li>You can register and view all of our upcoming events on <a href="https://meetingplace.io/virtual-coffee">MeetingPlace.io</a></li>
                </ul><br>

                  <li><h2>Virtual Coffee Slack</h2></li>
                    <ul class="list-unstyled">
                    <li>Much of Virtual Coffee occurs on Slack. We discuss our monthly challenges, have help and pairing channel, where you can ask questions, Interview Study Group.</li>
                    <li>Book Club</li>

                    </ul>


                  <li><h2>How to Participate in VC Events</h2></li>
                    <ul class="list-unstyled">
                      <li>Monthly Challenges</li>
                       <ul>We hold monthly challenges for our Virtual Coffee members to complete together. Past challenges have included a monthlty Blog writing challenge and HacktoberFest. You can read about them on our <a href="/monthlychallenges/">Challenges page.</a></ul>
                      <li>Lunch and Learns</li>
                        <ul>Presented by one of our members, these hour long Member only Zoom events on something a member wants to share. It can be a traditional conference-style talk, panel discussion, question and answer, or a combination. Eventually posted on our YouTube page. But only VC members can join the live event. Link will be shared in the VC slack shortly before the session goes live. If you like to submit a Lunch and Learn there is a link pinned in the VC-Events Slack channel.</ul>
                      <li>Lighting Talks</li>
                        <ul>Occasionally we hold Lightning talk sessions. They are 5-20 minute talks on one main idea. We have a group of members take turns presenting. Applications links will be shared in VC slack. This is a great way to try your hand at  public speaking.</ul>
                      <li>Open source contributions or HacktoberFest</li></ul>
                </ul>

                <h2>Our Community Runs On You!</h2>
                <ul class="list-unstyled">
                <li>How do I become a member? <BR>
                  <p>To become a member of Virtual Coffee, all you need to do is <a href="/events">attend a Tuesday or Thursday Coffee</a> and submit the form you'll receive at coffee. We absolutely love the closeness of this community and know it’s one of the many things that sets us apart. This closeness starts with those coffees.</p>
                  <li>How to volunteer</li>
                  <li>How to contribute</li>
                </ul>

                <h2>How to Stay Updated</h2>
                <ul class="list-unstyled">
                  <li><a href="/newsletter">Newsletter</li>
                  <li><a href="/podcast">Podcast</a></li>
                  <li><a href="https://twitter.com/VirtualCoffeeIO">Twitter</a></li>
                  <li><a href="https://www.youtube.com/c/virtualcoffeeio">YouTube</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- text generator Cheese http://www.cheeseipsum.co.uk/  Coffee https://fungenerators.com/lorem-ipsum/coffee/--> 

<!--

    In the zoom
    In the slack
        How to participate in channel discussions
        How to find relevant channels
        Channel curation
        Co working room explaination
    How to do events
        What are the monthly challenges
        What are brownbags
        What else is going on
    How to volunteer
    How to contribute
    How do I keep up
        The podcast
        The newsletter
    Where do I go for help
        The forms
        The maintainers
    F.A.Q.


     <p>Arabica Acerbic Affogato Aftertaste Aged Americano And Aroma, turkish french id acerbic carajillo filter Bar, lait rich cup Beans shot shop. Cream saucer americano as kopi-luwak french, Aroma Body aroma robusta Acerbic steamed, aged  et viennese. Filter roast caffeine sit trifecta At con iced robust Au cup, aromatic flavour Cappuccino  shop au Aftertaste spice Acerbic.</p>

                         <li><P>Mascarpone the big cheese feta. Pepper jack st. agur blue cheese hard cheese fromage frais cheese and biscuits lancashire macaroni cheese cream cheese. Airedale cut the cheese cow hard cheese say cheese fromage feta airedale. Roquefort queso cheese on toast halloumi st. agur blue cheese cheese triangles when the cheese comes out everybody's happy mozzarella. Smelly cheese fondue cheese and wine babybel.</P>

                    <P>Cheese and biscuits fromage frais the big cheese. Fromage fromage frais blue castello cheesy grin hard cheese bavarian bergkase when the cheese comes out everybody's happy cheese and biscuits. Cream cheese halloumi cream cheese ricotta pepper jack cream cheese airedale swiss. Edam jarlsberg stinking bishop queso cheesy grin roquefort lancashire airedale. Stilton brie</P></li>
--> 
