---
title: 'Virtual Coffee Member Resources'
description: 'A collection of resources for Virtual Coffee members'
layout: layouts/default.njk
hero: 'svg/undraw_folder_39kl.svg'
heroHeader: Member Resources
heroSubheader: A collection of resources for Virtual Coffee members
homePageBlocks:
  type: large
  key: Member Resources
  order: 6
  collectionKey: memberresources
---

<div class="bg-white py-5">
  <div class="container-xl">
    <h2 class="display-5">Resources Pages:</h2>

    {% displayPostList collections.memberresources %}
  </div>
</div>

