---
title: 'Virtual Coffee Member Resources'
description: 'We have multiple resources for our Virtual Coffee members'
layout: layouts/default.njk
hero: 'svg/undraw_folder_39kl.svg'
homePageBlocks:
  type: large
  key: Member Resources
  order: 6
  collectionKey: memberresources
---

<div class="py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-4">
        {% include "svg/undraw_folder_39kl.svg" %}
      </div>
      <div class="col-sm-8">
        <h1 class="display-4">Virtual Coffee Member Resources</h1>
        <p class="lead ">We have multiple resources for our Virtual Coffee members</p>
      </div>
    </div>
  </div>
</div>

<div class="bg-light py-5">
  <div class="container-xl">
  <!-- Add Open source Guide -->
    <p class="lead ">Coming soon <a href="guide-to-vc">A Member's Guide to Getting the Most Out of Virtual Coffee!</a></p>


  </div>
</div>