---
layout: layouts/default.njk
title: Brownbag Talk Submission Form
description: We can't wait to hear your talk!
permalink: brownbag-idea/
---

{% from "macros/forms.njk" import netlifyForm, codeOfConduct, formSubmit %}


<div class="py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-4">
        {% include "svg/undraw_Presentation_62e1.svg" %}
      </div>
      <div class="col-sm-8">
        <h1 class="display-4">Virtual Coffee: Brownbag</h1>
      </div>
    </div>
  </div>
</div>

<div class="py-5">
  <div class="container bodycopy">
    <div class="lead mb-5">
      <p>Brownbag talks are usually hour-long sessions on one topic. It can be a traditional conference-style talk, panel discussion, question and answer, or a combination.</p>
    </div>
    {% call netlifyForm('/brownbag-idea-thanks/', 'brownbag-submissions') %}

      <fieldset>
      <legend>Your Information:</legend>
        <p class="text-muted">Just a couple quick pieces of info that we'll need:</p>
        <div class="form-group">
          <label for="formName">Your Name</label>
          <input
            type="text"
            class="form-control"
            id="formName"
            name="name"
            aria-describedby="nameHelp"
            required
          />
          <small id="nameHelp" class="form-text text-muted">Required</small>
        </div>
        <div class="form-group">
          <label for="formEmail">Email</label>
          <input
            type="email"
            class="form-control"
            id="formEmail"
            name="email"
            aria-describedby="emailHelp"
            required
          />
          <small id="emailHelp" class="form-text text-muted">Required. We'll never share your email with anyone else.</small>
        </div>
      </fieldset>
      <fieldset>
        <legend>Your Brownbag Idea:</legend>
        <div class="form-group">
          <label for="topicTitle">Title of the Brownbag</label>
          <input
            type="text"
            class="form-control"
            id="topicTitle"
            name="topicTitle"
            required
          />
        </div>
        <div class="form-group">
          <label for="topicIdea">Description we can share on the event page.</label>
          <textarea class="form-control" required id="topicIdea" name="topicIdea" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="format">What is the format of your talk (question and answer, conference-style, etc.) and will you have slides?</label>
          <input
            type="text"
            class="form-control"
            id="format"
            name="format"
          />
        </div>
        <div class="form-group">
          <label for="date-time">What date and time works for you?</label>
          <input
            type="text"
            class="form-control"
            id="date-time"
            name="date-time"
            required
          />
        </div>

      </fieldset>

      {{codeOfConduct()}}

      {{formSubmit('Submit')}}

    {% endcall %}
  </div>
</div>
