---
layout: layouts/default.njk
title: Brownbag Submission
description: We can't wait to hear your talk!
---

{% from "macros/forms.njk" import netlifyForm %}


<div class="py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-4">
        {% include "svg/undraw_feedback_h2ft.svg" %}
      </div>
      <div class="col-sm-8">
        <h1 class="display-4">Brownbag Submission</h1>
      </div>
    </div>
  </div>
</div>

<div class="py-5">
  <div class="container bodycopy">
    <div class="lead mb-5">
      <h2>Thank you for submitting your Brownbag talk!</h2>
      <p>One of our team members will get back to you shortly.</p>
    </div>

  </div>
</div>
