---
layout: layouts/default.njk
title: Hacktoberfest Contributor Survey
description: Please help us improve for next time!
---

{% from "macros/forms.njk" import netlifyForm %}


<div class="py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-4">
        {% include "svg/undraw_feedback_h2ft.svg" %}
      </div>
      <div class="col-sm-8">
        <h1 class="display-4">Hacktoberfest Contributor Feedback</h1>
      </div>
    </div>
  </div>
</div>

<div class="py-5">
  <div class="container bodycopy">
    <div class="lead mb-5">
      <h2>Thank you!</h2>
      <p>Thank you for your time and your feedback!</p>
    </div>

  </div>
</div>
