---
layout: layouts/default.njk
title: Hacktoberfest Mentor Survey
description: Please help us improve for next time!
---

{% from "macros/forms.njk" import netlifyForm %}


<div class="py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-4">
        {% include "svg/undraw_feedback_h2ft.svg" %}
      </div>
      <div class="col-sm-8">
        <h1 class="display-4">Hacktoberfest Mentor Feedback</h1>
      </div>
    </div>
  </div>
</div>

<div class="py-5">
  <div class="container bodycopy">
    <div class="lead mb-5">
      <p>Hacktoberfest is over, and we at Virtual Coffee had a blast! We learned a lot during this process, and would love to get your input as well.</p>
    </div>
    {% call netlifyForm('/forms/hacktoberfest-mentor-survey-thanks', 'hacktoberfest-mentor-survey') %}

      <fieldset>
      <legend>Your Information:</legend>
        <p class="text-muted">Just a couple quick pieces of info that we'll need:</p>
        <div class="form-group">
          <label for="formName">Your Name</label>
          <input
            type="text"
            class="form-control"
            id="formName"
            name="name"
            aria-describedby="nameHelp"
            required
          />
          <small id="nameHelp" class="form-text text-muted">Required</small>
        </div>
        <div class="form-group">
          <label for="formEmail">Email</label>
          <input
            type="email"
            class="form-control"
            id="formEmail"
            name="email"
            aria-describedby="emailHelp"
            required
          />
          <small id="emailHelp" class="form-text text-muted">Required. We'll never share your email with anyone else.</small>
        </div>
      </fieldset>
      <fieldset>
        <legend>Your VCHI Mentor Experience:</legend>

        <div class="form-group">
          <label for="howManyTimes">How many times did you meet with your mentee?</label>
          <textarea class="form-control" id="howManyTimes" name="howManyTimes" rows="3" aria-describedby="howManyTimesHelp"></textarea>
          <small id="howManyTimesHelp" class="form-text text-muted">If you had multiple mentees, how many times did you meet with each mentee?</small>
        </div>

        <div class="form-group">
          <label for="howManyHours">About how many hours did you spend mentoring for VCHI?</label>
          <textarea class="form-control" id="howManyHours" name="howManyHours" rows="3" aria-describedby="howManyHoursHelp"></textarea>
          <small id="howManyHoursHelp" class="form-text text-muted">If you had multiple mentees, how many hours did you spend for each mentee?</small>
        </div>

        <div class="form-group">
          <label for="supportType">What type of support did you provide?</label>
          <textarea class="form-control" id="supportType" name="supportType" rows="3" aria-describedby="supportTypeHelp"></textarea>
          <small id="supportTypeHelp" class="form-text text-muted">(e.g., general, slack chat, pair-programming, etc.)</small>
        </div>

        <div class="form-group">
          <label for="vcImprovements">What could Virtual Coffee have done to help you more effectively?</label>
          <textarea class="form-control" id="vcImprovements" name="vcImprovements" rows="3"></textarea>
        </div>

        <div class="form-group">
          <label for="additionalThoughts">Do you have any additional thoughts about the Virtual Coffee Hacktoberfest Initiative?</label>
          <textarea class="form-control" id="additionalThoughts" name="additionalThoughts" rows="3"></textarea>
        </div>

      </fieldset>



      <div class="text-right">
      <button type="submit" class="btn btn-primary btn-lg">Submit</button>
      </div>



    {% endcall %}
  </div>
</div>
