---
layout: layouts/default.njk
title: Lightning Talk Series Submission
description: We can't wait to hear all the talks!
hero: 'svg/undraw_feedback_h2ft.svg'
heroHeader: Lightning Talk Submission
---

{% from "macros/forms.njk" import netlifyForm %}

<div class="py-5">
  <div class="container bodycopy">
    <div class="lead mb-5">
      <h2>Thank you for your interest in participating in our second lightning talk series!</h2>
      <p>One of our team members will get back to you shortly.</p>
    </div>

  </div>
</div>
