---
layout: layouts/podcast.njk
title: "Virtual Coffee Podcast Trailer"
description: 'Welcome to the Virtual Coffee Podcast!'
tags: podcast
date: 2021-01-04
podcast:
  season: 1
  episode: 0
  intro: |
    <p>This is the Virtual Coffee Podcast, hosted by Bekah Hawrot Weigel and Dan Ott. You'll find interviews with members of our community to learn more about their stories, who they are, how they found Virtual Coffee, and how it has influenced their lives as developers. We want to bring everything that's special about Virtual Coffee, the intimacy and the friendships we’ve built, and share that with everyone through the podcast. We’re always growing and learning together as a group, and there’s something really special about being able to do that knowing that you’ll have the full support of the community around you. And that’s what this podcast is about too.</p>
  card: /assets/images/virtual-coffee-mug-square.png
  mp3: https://www.buzzsprout.com/1558601/7119532-episode-0-the-virtual-coffee-podcast-trailer.mp3?blob_id=30562423&download=true
  guests:
  - name: Virtual Coffee
    headshot: "/assets/images/virtual-coffee-mug-square.png"
    headshotAlt: "Virtual Coffee Logo"
    bio: |
      <ul>
        <li><a href="https://virtualcoffee.io/podcast">Virtual Coffee Podcast</a></li>
      </ul>
---

<h3>Show Notes:</h3>

<ul>
  <li>Virtual Coffee: <a href="https://virtualcoffee.io/">virtualcoffee.io</a></li>
  <li>Podcast Contact: <a href="mailto:podcast@virtualcoffee.io">podcast@virtualcoffee.io</a></li>
  <li>Bekah: <a href="https://dev.to/bekahhw">dev.to/bekahhw</a>, Twitter: <a href="https://twitter.com/bekahhw">https://twitter.com/bekahhw</a>, Instagram: <a href="https://www.instagram.com/bekahhw">bekahhw</a></li>
  <li>Dan: <a href="https://dtott.com">dtott.com</a>, Twitter: <a href="https://twitter.com/danieltott">@danieltott</a></li>
</ul>
