---
layout: layouts/simple.njk
title: Virtual Coffee Podcast Trailer
description: 'Welcome to the Virtual Coffee Podcast!'
tags: podcast
date: 2021-01-04
---

<h1>Virtual Coffee Podcast Trailer</h1>

<p class="lead">This is the Virtual Coffee Podcast, hosted by Bekah Hawrot Weigel and Dan Ott. You'll find interviews with members of our community to learn more about their stories, who they are, how they found Virtual Coffee, and how it has influenced their lives as developers. We want to bring everything that's special about Virtual Coffee, the intimacy and the friendships we’ve built, and share that with everyone through the podcast. We’re always growing and learning together as a group, and there’s something really special about being able to do that knowing that you’ll have the full support of the community around you. And that’s what this podcast is about too.</p>

<hr />

<div>
  <a target="_blank" href="#YOUR APPLE PODCASTS URL" style="display: inline-block; background-color: #000000; background-image: url(https://assets.buzzsprout.com/assets/public_players/listen_on-109d5ef29be389e41e77dd2c26ae2ab0a9cc72a6703624602ab41d9387a85924.svg); background-repeat: no-repeat; background-size: 1350px 28px; border-radius: 5px; text-indent: -9000px; background-position: 10px 7px; height: 40px; width: 162px;">Listen on Apple Podcasts</a>
  <a target="_blank" href="https://open.spotify.com/show/2i96E6Rm2YyMcGGYSzXlBo" style="display: inline-block; background-color: #000000; background-image: url(https://assets.buzzsprout.com/assets/public_players/listen_on-109d5ef29be389e41e77dd2c26ae2ab0a9cc72a6703624602ab41d9387a85924.svg); background-repeat: no-repeat; background-size: 1350px 28px; border-radius: 5px; text-indent: -9000px; background-position: -182px 7px; height: 40px; width: 106px;">Listen on Spotify</a>
  <a target="_blank" href="https://feeds.buzzsprout.com/1558601.rss" style="display: inline-block; background-color: #000000; background-image: url(https://assets.buzzsprout.com/assets/public_players/listen_on-109d5ef29be389e41e77dd2c26ae2ab0a9cc72a6703624602ab41d9387a85924.svg); background-repeat: no-repeat; background-size: 1350px 28px; border-radius: 5px; text-indent: -9000px; background-position: -317px 7px; height: 40px; width: 121px;">RSS Feed</a>
</div>

<hr />
<div class="mb-4">
<div id="buzzsprout-player-7119532"></div>
<script src="https://www.buzzsprout.com/1558601/7119532-episode-0-the-virtual-coffee-podcast-trailer.js?container_id=buzzsprout-player-7119532&player=small" type="text/javascript" charset="utf-8"></script>
</div>

<h3>Show Notes:</h3>

<ul>
  <li>Virtual Coffee: <a href="https://virtualcoffee.io/">virtualcoffee.io</a></li>
  <li>Podcast Contact: <a href="mailto:podcast@virtualcoffee.io">podcast@virtualcoffee.io</a></li>
  <li>Bekah: <a href="https://dev.to/bekahhw">dev.to/bekahhw</a>, Twitter: <a href="https://twitter.com/bekahhw">https://twitter.com/bekahhw</a>, Instagram: <a href="https://www.instagram.com/bekahhw">bekahhw</a></li>
  <li>Dan: <a href="https://dtott.com">dtott.com</a>, Twitter: <a href="https://twitter.com/danieltott">@danieltott</a></li>
</ul>

<p>The Virtual Coffee Podcast is produced by Dan Ott and Bekah Hawrot Weigel and edited by Dan Ott.</p>