---
title: 'Nick Taylor: Open Source, Live Streaming, and Structured YOLO'
description: 'Season One, Episode One of the Virtual Coffee Podcast'
date: 2021-01-11
podcast:
  season: 1
  episode: 1
  intro: |
    <p>Dan and Bekah welcome Nick Taylor (Senior Software Engineer at Forem/DEV) to talk about his journey into tech, open source, and the importance of community</p>
  card: /assets/images/podcast/0101-nickyt-episode.jpg
  id: 7238548
  guests:
    - name: Nick Taylor
      headshot: '/assets/images/podcast/0101-nickyt.jpg'
      headshotAlt: 'Nick Talyor in a DEV shirt'
      bio: |
        <p>Senior Software Engineer at <a href="https://www.forem.com/">Forem</a>, the software that powers <a href="https://dev.to">DEV</a>, working on all things Forem.</p>
        <ul>
          <li><a href="https://iamdeveloper.com">iamdeveloper.com</a></li>
          <li><a href="https://livecoding.ca">livecoding.ca</a></li>
          <li><a href="https://twitter.com/nickytonline">twitter.com/nickytonline</a></li>
          <li><a href="https://dev.to/nickytonline">dev.to/nickytonline</a></li>
          <li><a href="https://iamdeveloper.com/hacktoberfest2020">Getting the Most Out of Open Source</a></li>
        </ul>
---

<h3>Show Notes:</h3>

<p>
	Dan and Bekah welcome Nick Taylor (Senior Software Engineer at Forem/DEV) to
	talk about his journey into tech, open source, and the importance of
	community. Nick talks about his journey through University and into tech, how
	the landscape of tech has changed with increased resources and community, and
	how his idea of "structured YOLO" has lead him to this point in his career. He
	talks about how his job at Forem and how the pandemic led to his
	livestreaming, where he tries to make coding as realistic as possible. His
	hour and a half livestreams focus on one issue, but realistically those issues
	won't be solved during that time. And that's ok, because coding takes time,
	and working through issues won't always be a simple solution. His approach to
	teaching includes learning as you go, which made him an amazing contributor,
	mentor, and maintainer for the Virtual Coffee Hacktoberfest Initiative. Every
	conversation with Nick is an interesting one, and this one isn't an exception.
</p>

<h4>Links:</h4>

<ul>
	<li>
		Nick:
		<a rel="nofollow" href="https://dev.to/nickytonline"
			>https://dev.to/nickytonline</a
		>
	</li>
	<li>
		Forem:
		<a rel="nofollow" href="https://www.forem.com/">https://www.forem.com/</a>
	</li>
	<li>
		Virtual Coffee: <a href="https://virtualcoffee.io/">virtualcoffee.io</a>
	</li>
	<li>
		Podcast Contact:
		<a href="mailto:podcast@virtualcoffee.io">podcast@virtualcoffee.io</a>
	</li>
	<li>
		Bekah: <a href="https://dev.to/bekahhw">dev.to/bekahhw</a>, Twitter:
		<a href="https://twitter.com/bekahhw">https://twitter.com/bekahhw</a>,
		Instagram: <a href="https://www.instagram.com/bekahhw">bekahhw</a>
	</li>
	<li>
		Dan: <a href="https://dtott.com">dtott.com</a>, Twitter:
		<a href="https://twitter.com/danieltott">@danieltott</a>
	</li>
</ul>
