---
layout: layouts/podcast.njk
title: "Marie Antons: From Chef to Tech"
description: 'Season One, Episode Two of the Virtual Coffee Podcast'
tags: podcast
date: 2021-01-18
podcast:
  season: 1
  episode: 2
  intro: |
    <p>In this episode, Marie Antons talks with Dan, Bekah, and Kirk about how she went from being a chef to a junior developer.</p>
  card: /assets/images/podcast/0102-marie-episode.jpg
  id: 7323430
  guests:
  - name: Marie Antons
    headshot: "/assets/images/podcast/0102-marie.jpg"
    headshotAlt: "Photo of our guest, Marie Antons"
    bio: |
      <p>Marie is a C#/.NET developer working for a small start-up called Stratafolio.</p>
      <ul>
        <li><a href="https://twitter.com/MarieAntons">@MarieAntons</a> on Twitter</li>
        <li><a href="https://www.linkedin.com/in/marie">Marie Antons</a> on LinkedIn</li>
      </ul>
---

<h3>Show Notes:</h3>

<p>In this episode, Marie Antons talks with Dan, Bekah, and Kirk about how she went from being a chef to a junior developer. With more and more developers coming into tech from non-traditional backgrounds, Marie shares her own unique story and how taking her past experience as a chef allowed her to understand coding in her own way. There are ingredients and steps to follow with recipes, and similarly, as you learn to code, you'll find what you need to get your code to work and the process you need to take to get there. She also talks about the challenges of coming into her first job from a bootcamp, and what she wishes she would've known before starting that job.</p>


<h4>Links:</h4>

<ul>
  <li><a href="https://www.deltavcodeschool.com/">DeltaV Code School</a></li>
  <li><a href="https://stratafolio.com/">Stratafolio</a></li>
  <li><a href="https://d3js.org/">D3 javascript library</a></li>
  <li><a href="https://wattenberger.com/blog/css-percents">Amy Wattenberger</a> (the blogger Dan couldn't remember!)</li>
  <li><a href="https://twitter.com/MarieAntons">@MarieAntons</a> on Twitter</li>
  <li><a href="https://www.linkedin.com/in/marie">Marie Antons</a> on LinkedIn</li>
  <li>Virtual Coffee: <a href="https://virtualcoffee.io/">virtualcoffee.io</a></li>
  <li>Podcast Contact: <a href="mailto:podcast@virtualcoffee.io">podcast@virtualcoffee.io</a></li>
  <li>Bekah: <a href="https://dev.to/bekahhw">dev.to/bekahhw</a>, Twitter: <a href="https://twitter.com/bekahhw">https://twitter.com/bekahhw</a>, Instagram: <a href="https://www.instagram.com/bekahhw">bekahhw</a></li>
  <li>Dan: <a href="https://dtott.com">dtott.com</a>, Twitter: <a href="https://twitter.com/danieltott">@danieltott</a></li>
  <li>Kirk: <a href="https://twitter.com/tkshillinz">@tkshillinz</a> on Twitter</li>
</ul>

