---
title: "Tori Crawford: Interviewing — If it's broke, fix it"
description: 'Season One, Episode Three of the Virtual Coffee Podcast'
date: 2021-01-25
podcast:
  season: 1
  episode: 3
  intro: |
    <p>In this episode, Dan and Bekah welcome Tori Crawford to talk about her journey through the interview process that included about 53 interviews, 430 applications, and a pandemic offer that ultimately led to her being ghosted by the company.</p>
  card: /assets/images/podcast/0103-tori-episode.jpg
  id: 7474594
  guests:
    - name: Tori Crawford
      headshot: '/assets/images/podcast/0103-tori.jpg'
      headshotAlt: 'Tori Crawford profile photo'
      bio: |
        <p>Software Engineer at <a href="https://firehydrant.io/">FireHydrant</a>.</p>
        <ul>
          <li><a href="https://twitter.com/_torrborr">@_torrborr</a> on Twitter</li>
          <li><a href="https://dev.to/torianne02">torianne02</a> on DEV</li>
        </ul>
---

<h3>Show Notes:</h3>

<p>
	In this episode, Dan and Bekah welcome Tori to talk about her journey through
	the interview process that included about 53 interviews, 430 applications, and
	a pandemic offer that ultimately led to her being ghosted by the company. She
	gives her tips and tricks, including recognizing that interviews are a two-way
	street; you should also be interviewing the companies that are interviewing
	you. She talks about the problems of technical interviewing, how she's hopeful
	that the industry can make changes, and how the job she ultimately landed has
	been a great experience, starting with the interview.
</p>

<h4>Links:</h4>

<ul>
	<li>
		Tori: <a href="https://dev.to/torianne02">DEV</a>,
		<a href="https://twitter.com/_torrborr">Twitter</a>
	</li>
	<li>
		Article Tori wrote detailing her interview journey:
		<a href="https://dev.to/torianne02/444-days-later-tori-hit-the-jackpot-3o4p"
			>444 Days Later, Tori Hit the Jackpot</a
		>
	</li>
	<li>
		Udemy course mentioned:
		<a
			href="https://www.udemy.com/course/master-the-coding-interview-data-structures-algorithms/"
			>Master the Coding Interview: Data Structures + Algorithms
		</a>
	</li>
	<li><a href="https://flatironschool.com/">Flatiron School</a></li>
	<li><a href="https://firehydrant.io/">FireHydrant</a></li>
</ul>
