---
layout: layouts/podcast.njk
title: "Vic Vijayakumar: Indie Hacking"
description: 'Season One, Episode Four of the Virtual Coffee Podcast'
tags: podcast
date: 2021-02-01
podcast:
  season: 1
  episode: 4
  intro: |
    <p>In this episode, Vic talks about Indie Hacking and gives us his take on when to ship, what to focus on, and the value of diverse opinions in your community.</p>
  card: /assets/images/podcast/0104-vic-episode.jpg
  id: 7564483
  guests:
  - name: Vic Vijayakumar
    headshot: "/assets/images/podcast/0104-vic.jpg"
    headshotAlt: "Vic Vijayakumar profile photo"
    bio: |
      <p>Principal software engineer at <a href="https://www.researchsquare.com/">Research Square</a>, a preprint platform</p>
      <ul>
        <li><a href="https://vicvijayakumar.com/">vicvijayakumar.com</a></li>
        <li><a href="https://twitter.com/vicvijayakumar">@vicvijayakumar</a> on Twitter</li>
        <li><a href="https://www.everyoak.com/">EveryOak</a></li>
        <li><a href="https://meetsweats.com">MeetSweats.com</a></li>
      </ul>
---

<h3>Show Notes:</h3>

<p>In this episode, Vic talks about Indie Hacking and gives us his take on when to ship, what to focus on, and the value of diverse opinions in your community. He also talks about treating life as a lot of drafts and about building things that you're passionate about as well as things that others find valuable. He cautions against the danger of survivorship bias, recognizing that it's difficult to find a path in indie hacking and that many of the popular voices have worked through challenges and no longer effectively represent how difficult it is to create a product that's successful.</p>

<h4>Links:</h4>

<h5>Vic:</h5>
<ul>
  <li><a href="https://vicvijayakumar.com/">vicvijayakumar.com</a></li>
  <li><a href="https://twitter.com/vicvijayakumar">@vicvijayakumar</a> on Twitter</li>
</ul>
<h5>Vic's Projects:</h5>
<ul>
  <li><a href="https://www.everyoak.com/">EveryOak</a></li>
  <li><a href="https://meetsweats.com">MeetSweats.com</a></li>
  <li><a href="https://dogears.xyz/">Dog Ears</a></li>
</ul>
<h5>Low-Code Tools:</h5>
<ul>
  <li><a href="https://carrd.co/">Carrd</a></li>
  <li><a href="https://zapier.com/">Zapier</a></li>
  <li><a href="https://airtable.com/">Airtable</a></li>
</ul>
<h5>Virtual Coffee:</h5>
<ul>
  <li>Virtual Coffee: <a href="https://virtualcoffee.io/">virtualcoffee.io</a></li>
  <li>Podcast Contact: <a href="mailto:podcast@virtualcoffee.io">podcast@virtualcoffee.io</a></li>
  <li>Bekah: <a href="https://dev.to/bekahhw">dev.to/bekahhw</a>, Twitter: <a href="https://twitter.com/bekahhw">https://twitter.com/bekahhw</a>, Instagram: <a href="https://www.instagram.com/bekahhw">bekahhw</a></li>
  <li>Dan: <a href="https://dtott.com">dtott.com</a>, Twitter: <a href="https://twitter.com/danieltott">@danieltott</a></li>
</ul>
