---
layout: layouts/podcast.njk
title: "Cameron Bardell and Rahat Chowdhury: Mental Health & Tech"
description: 'Season One, Episode Five of the Virtual Coffee Podcast'
tags: podcast
date: 2021-02-08
metadata:
  tags:
    'og:image': '/assets/images/podcast/0105-camrahat-episode.jpg'
    'twitter:image': '/assets/images/podcast/0105-camrahat-episode.jpg'
    'twitter:player': 'https://www.buzzsprout.com/1558601/7741411-cameron-bardell-and-rahat-chowdhury-mental-health-tech?client_source=twitter_card&amp;player_type=full_screen'
    'twitter:player:stream': 'https://www.buzzsprout.com/1558601/7741411-cameron-bardell-and-rahat-chowdhury-mental-health-tech.mp3?blob_id=34349512&client_source=twitter_card'
podcast:
  season: 1
  episode: 5
  intro: |
    <p>In this episode, Bekah and Dan talk about mental health with Cameron Bardell, an iOS developer in the healthcare industry, and Rahat Chowdhury, a mental health start-up founder.</p>
  player: |
    <div id="buzzsprout-player-7741411"></div>
    <script src="https://www.buzzsprout.com/1558601/7741411-cameron-bardell-and-rahat-chowdhury-mental-health-tech.js?container_id=buzzsprout-player-7741411&player=small" type="text/javascript" charset="utf-8" async></script>
  guests:
  - name: Cameron Bardell
    headshot: "/assets/images/podcast/0105-cameron.jpg"
    headshotAlt: "Cameron Bardell profile photo"
    bio: |
      <p>iOS developer in the healthcare industry</p>
      <ul>
        <li><a href="https://cambardell.github.io/">cambardell.github.io</a></li>
        <li><a href="https://twitter.com/cameronbardell">@cameronbardell</a> on Twitter</li>
      </ul>
  - name: Rahat Chowdhury
    headshot: "/assets/images/podcast/0105-rahat.jpg"
    headshotAlt: "Rahat Chowdhury profile photo"
    bio: |
      <p>Mental health start-up founder</p>
      <ul>
        <li><a href="https://www.rahatcodes.com/">rahatcodes.com</a></li>
        <li><a href="https://twitter.com/Rahatcodes">@Rahatcodes</a> on Twitter</li>
        <li><a href="https://whimser.io/">Whimser</a></li>
        <li><a href="https://www.sylarproject.com/">The Sylar Project</a></li>
      </ul>
---

<h3>Show Notes:</h3>

<p>In this episode, Bekah and Dan talk about mental health with Cameron Bardell, an iOS developer in the healthcare industry, and Rahat Chowdhury, a mental health start-up founder. We talk about how sometimes building a product to meet our own needs is a great place to start and the importance of prioritizing mental health, especially in a fast-paced industry like tech. We walk through our own experiences, how mental health recovery isn't linear, and how different approaches to mental health technology create support for more people.</p>

<p>If you or someone else is suffering from mental health issues, you aren't alone. Below are some links to help you find resources or to seek help:</p>

<ul>
  <li><a href="https://suicidepreventionlifeline.org/">National Suicide Prevention Lifeline</a> - 1-800-273-8255</li>
  <li><a href="https://www.samhsa.gov/find-help/national-helpline">SAMHSA’s National Helpline</a> - 1-800-662-HELP (4357)</li>
  <li><a href="https://cmha.ca/">CMHA National</a></li>
</ul>

<h4>Links:</h4>
<h5>Cameron:</h5>
<ul>
  <li><a href="https://cambardell.github.io/">cambardell.github.io</a></li>
  <li><a href="https://twitter.com/cameronbardell">@cameronbardell</a> on Twitter</li>
</ul>

<h5>Rahat:</h5>
<ul>
  <li><a href="https://www.rahatcodes.com/">rahatcodes.com</a></li>
  <li><a href="https://twitter.com/Rahatcodes">@Rahatcodes</a> on Twitter</li>
  <li><a href="https://whimser.io/">Whimser</a></li>
  <li>Open source mental health resources database: <a href="https://www.sylarproject.com/">The Sylar Project</a></li>
</ul>

<h5>Virtual Coffee:</h5>
<ul>
  <li>Virtual Coffee: <a href="https://virtualcoffee.io/">virtualcoffee.io</a></li>
  <li>Podcast Contact: <a href="mailto:podcast@virtualcoffee.io">podcast@virtualcoffee.io</a></li>
  <li>Bekah: <a href="https://dev.to/bekahhw">dev.to/bekahhw</a>, Twitter: <a href="https://twitter.com/bekahhw">https://twitter.com/bekahhw</a>, Instagram: <a href="https://www.instagram.com/bekahhw">bekahhw</a></li>
  <li>Dan: <a href="https://dtott.com">dtott.com</a>, Twitter: <a href="https://twitter.com/danieltott">@danieltott</a></li>
</ul>


