---
layout: layouts/podcast.njk
title: "Drew Clements: Building a career and community"
description: 'Season One, Episode Six of the Virtual Coffee Podcast'
tags: podcast
date: 2021-02-15
podcast:
  season: 1
  episode: 6
  intro: |
    <p>In this episode, Bekah and Dan are joined by Drew Clements to talk about the struggles of junior-level job searching, the importance of supportive company culture, and learning in public while building <a href="https://protege.dev">Protege.dev</a>.</p>
  card: /assets/images/podcast/0106-drew-episode.jpg
  id: 7867681
  guests:
  - name: Drew Clements
    headshot: "/assets/images/podcast/0106-drew.jpg"
    headshotAlt: "Drew Clements profile photo"
    bio: |
      <p>Frontend Engineer at <a href="https://www.fostercommerce.com/">Foster Commerce</a>, co-founder of <a href="https://protege.dev/">Protege.dev</a> </p>
      <ul>
        <li><a href="https://twitter.com/drewclemcr8">@drewclemcr8</a> on Twitter</li>
        <li><a href="https://protege.dev/">Protege.dev</a></li>
        <li><a href="https://github.com/drewclem/">drewclem</a> on GitHub</li>
        <li><a href="https://dev.to/drewclem/">drewclem</a> on DEV</li>
      </ul>
---

<h3>Show Notes:</h3>

<p>In this episode, we talk to Drew Clements about the challenges junior developers face, learning through building Protege.dev, and the importance of community support. Drew is a career transitioner, father of two, and full-time developer who spends his spare time building Protege.dev, the platform curated with remote jobs for junior developers. We also talk about approaches to problem-solving, when to ask questions, and using live-streaming as an accountability tool.</p>

<h4>Links:</h4>

<h5>Drew:</h5>
<ul>
  <li><a href="https://twitter.com/drewclemcr8">@drewclemcr8</a> on Twitter</li>
  <li><a href="https://protege.dev/">Protege.dev</a></li>
  <li><a href="https://github.com/drewclem/">drewclem</a> on GitHub</li>
  <li><a href="https://dev.to/drewclem/">drewclem</a> on DEV</li>
</ul>

<h5>Stu the Rubber Duck!</h5>
{% set ducky = '/assets/images/podcast/0106-drew-duck.jpg' %}
<img
  alt="Stu the Rubber Duck!"
  class="mb-4"
  src="{{ducky | buildImgixUrl({w:388})}}"
  sizes="(min-width: 1200px) 740px, (min-width: 992px) 580px, (min-width: 768px) calc((100vw - 150px) * (7 / 12)), calc(100vw - 60px)"
  srcset="{{ducky | buildImgixSrcSet([2220, 1740, 1480, 1164, 1160, 776, 740, 580, 388])}}"
  />

<h5>Virtual Coffee:</h5>
<ul>
  <li>Virtual Coffee: <a href="https://virtualcoffee.io/">virtualcoffee.io</a></li>
  <li>Podcast Contact: <a href="mailto:podcast@virtualcoffee.io">podcast@virtualcoffee.io</a></li>
  <li>Bekah: <a href="https://dev.to/bekahhw">dev.to/bekahhw</a>, Twitter: <a href="https://twitter.com/bekahhw">https://twitter.com/bekahhw</a>, Instagram: <a href="https://www.instagram.com/bekahhw">bekahhw</a></li>
  <li>Dan: <a href="https://dtott.com">dtott.com</a>, Twitter: <a href="https://twitter.com/danieltott">@danieltott</a></li>
</ul>
