---
layout: layouts/podcast.njk
title: "Colleen Schnettler -- Tech: It's hard, but it's worth it"
description: 'Season One, Episode Seven of the Virtual Coffee Podcast'
tags: podcast
date: 2021-02-22
metadata:
  tags:
    'og:image': '/assets/images/podcast/0107-colleen-episode.jpg'
    'twitter:image': '/assets/images/podcast/0107-colleen-episode.jpg'
    'twitter:player': 'https://www.buzzsprout.com/1558601/8007425-colleen-schnettler-tech-it-s-hard-but-it-s-worth-it?client_source=twitter_card&amp;player_type=full_screen'
    'twitter:player:stream': 'https://www.buzzsprout.com/1558601/8007425-colleen-schnettler-tech-it-s-hard-but-it-s-worth-it.mp3?blob_id=35912811&client_source=twitter_card'
podcast:
  season: 1
  episode: 7
  intro: |
    <p>In this episode, Bekah and Dan are joined by Colleen Schnettler to talk about the challenges women face in the workplace, the benefits of working for yourself, and growing her SaaS business.</p>
  player: |
    <div id="buzzsprout-player-8007425"></div>
    <script src="https://www.buzzsprout.com/1558601/8007425-colleen-schnettler-tech-it-s-hard-but-it-s-worth-it.js?container_id=buzzsprout-player-8007425&player=small" type="text/javascript" charset="utf-8" async></script>
  guests:
  - name: Colleen Schnettler
    headshot: "/assets/images/podcast/0107-colleen.jpg"
    headshotAlt: "Colleen Schnettler's profile photo"
    bio: |
      <p>Ruby on Rails consultant at <a href="http://www.bitmappeddesigns.com/">Bitmapped Designs</a>.</p>
      <ul>
        <li><a href="https://twitter.com/leenyburger">@leenyburger</a> on Twitter</li>
        <li><a href="http://www.bitmappeddesigns.com/">Bitmapped Designs</a></li>
        <li><a href="https://www.simplefileupload.com/">Simple File Upload</a></li>
        <li><a href="https://twitter.com/softwaresocpod">@softwaresocpod</a> - Software Social Podcast</li>
      </ul>
---



<h3>Show Notes:</h3>

<p>In this episode, we talk to Colleen Schnettler about the challenges of being a woman in the workplace, the benefits of working for yourself, and building her own SaaS business. Colleen is a Ruby on Rails consultant, who recently launched her <a href="https://www.simplefileupload.com/">first product</a>, a career changer, and a mom. Colleen talks about how difficult it is to learn to code; it will take time and commitment, but when you get there, it will all be worth it.</p>

<h5>Colleen:</h5>

<ul>
  <li><a href="https://twitter.com/leenyburger">@leenyburger</a> on Twitter</li>
  <li><a href="http://www.bitmappeddesigns.com/">Bitmapped Designs</a></li>
  <li><a href="https://www.simplefileupload.com/">Simple File Upload</a></li>
  <li><a href="https://twitter.com/softwaresocpod">@softwaresocpod</a> - Software Social Podcast</li>
</ul>

<h5>Virtual Coffee:</h5>
<ul>
  <li>Virtual Coffee: <a href="https://virtualcoffee.io/">virtualcoffee.io</a></li>
  <li>Podcast Contact: <a href="mailto:podcast@virtualcoffee.io">podcast@virtualcoffee.io</a></li>
  <li>Bekah: <a href="https://dev.to/bekahhw">dev.to/bekahhw</a>, Twitter: <a href="https://twitter.com/bekahhw">https://twitter.com/bekahhw</a>, Instagram: <a href="https://www.instagram.com/bekahhw">bekahhw</a></li>
  <li>Dan: <a href="https://dtott.com">dtott.com</a>, Twitter: <a href="https://twitter.com/danieltott">@danieltott</a></li>
</ul>
