---
layout: layouts/podcast.njk
title: 'Kirk Shillingford: On Making Mistakes, Growth, and the Importance of Community'
description: 'Season One, Episode Eight of the Virtual Coffee Podcast'
tags: podcast
date: 2021-03-01
metadata:
  tags:
    'og:image': 'https://virtualcoffee.imgix.net/assets/images/podcast/0108-kirk-episode.jpg?auto=compress%2Cformat&w=250'
    'twitter:image': '/assets/images/podcast/0108-kirk-episode.jpg'
    'twitter:player': 'https://www.buzzsprout.com/1558601/8052553-kirk-shillingford-on-making-mistakes-growth-and-the-importance-of-community?client_source=twitter_card&amp;player_type=full_screen'
    'twitter:player:stream': 'https://www.buzzsprout.com/1558601/8052553-kirk-shillingford-on-making-mistakes-growth-and-the-importance-of-community.mp3?blob_id=36185532&client_source=twitter_card'
podcast:
  season: 1
  episode: 8
  intro: |
    <p>In this episode, Dan and Bekah talk to Kirk Shillingford, a software developer (and Community Maintainer at Virtual Coffee), about the importance of making mistakes and the growth that comes with it.</p>
  player: |
    <div id="buzzsprout-player-8007425"></div>
    <script src="https://www.buzzsprout.com/1558601/8052553-kirk-shillingford-on-making-mistakes-growth-and-the-importance-of-community.js?container_id=buzzsprout-player-8007425&player=small" type="text/javascript" charset="utf-8" async></script>
  guests:
  - name: Kirk Shillingford
    headshot: "/assets/images/podcast/0108-kirk.jpg"
    headshotAlt: "Kirk Shillingford's profile photo"
    bio: |
      <p>Software Developer, and Community Maintainer at Virtual Coffee.</p>
      <ul>
        <li><a href="https://twitter.com/KirkCodes">@KirkCodes</a> on Twitter</li>
        <li><a href="https://twitter.com/tkshill">@tkshill</a> on GitHub</li>
      </ul>
---






<h3>Show Notes:</h3>

<p>In this episode, Dan and Bekah talk to Kirk Shillingford, a software developer (and Community Maintainer at Virtual Coffee), who has been "haphazardly writing code for about seven years," about the importance of making mistakes and the growth that comes with it. We also talk about empathy being a key indicator of a senior developer and the importance of having a supportive community.</p>

<h5>Links:</h5>


<ul>
  <li><a href="https://twitter.com/KirkCodes">@KirkCodes</a> on Twitter</li>
  <li><a href="https://twitter.com/tkshill">@tkshill</a> on GitHub</li>
  <li><a href="https://en.wikipedia.org/wiki/Neverwinter_Nights">Never Winter Nights</a></li>
  <li>Virtual Coffee: <a href="https://virtualcoffee.io/">virtualcoffee.io</a></li>
  <li>Podcast Contact: <a href="mailto:podcast@virtualcoffee.io">podcast@virtualcoffee.io</a></li>
  <li>Bekah: <a href="https://dev.to/bekahhw">dev.to/bekahhw</a>, Twitter: <a href="https://twitter.com/bekahhw">https://twitter.com/bekahhw</a>, Instagram: <a href="https://www.instagram.com/bekahhw">bekahhw</a></li>
  <li>Dan: <a href="https://dtott.com">dtott.com</a>, Twitter: <a href="https://twitter.com/danieltott">@danieltott</a></li>
</ul>
