---
title: 'Kirk Shillingford: On Making Mistakes, Growth, and the Importance of Community'
description: 'Season One, Episode Eight of the Virtual Coffee Podcast'
date: 2021-03-01
podcast:
  season: 1
  episode: 8
  intro: |
    <p>In this episode, Dan and Bekah talk to Kirk Shillingford, a software developer (and Community Maintainer at Virtual Coffee), about the importance of making mistakes and the growth that comes with it.</p>
  card: /assets/images/podcast/0108-kirk-episode.jpg
  id: 8052553
  guests:
    - name: Kirk Shillingford
      headshot: '/assets/images/podcast/0108-kirk.jpg'
      headshotAlt: "Kirk Shillingford's profile photo"
      bio: |
        <p>Software Developer, and Community Maintainer at Virtual Coffee.</p>
        <ul>
          <li><a href="https://twitter.com/KirkCodes">@KirkCodes</a> on Twitter</li>
          <li><a href="https://twitter.com/tkshill">@tkshill</a> on GitHub</li>
        </ul>
---

<h3>Show Notes:</h3>

<p>
	In this episode, Dan and Bekah talk to Kirk Shillingford, a software developer
	(and Community Maintainer at Virtual Coffee), who has been "haphazardly
	writing code for about seven years," about the importance of making mistakes
	and the growth that comes with it. We also talk about empathy being a key
	indicator of a senior developer and the importance of having a supportive
	community.
</p>

<h5>Links:</h5>

<ul>
	<li><a href="https://twitter.com/KirkCodes">@KirkCodes</a> on Twitter</li>
	<li><a href="https://twitter.com/tkshill">@tkshill</a> on GitHub</li>
	<li>
		<a href="https://en.wikipedia.org/wiki/Neverwinter_Nights"
			>Never Winter Nights</a
		>
	</li>
</ul>
