---
layout: layouts/podcast.njk
title: "Dan and Bekah: Season One Wrap-Up"
description: 'Season One, Episode Nine of the Virtual Coffee Podcast'
tags: podcast
date: 2021-03-07
podcast:
  season: 1
  episode: 9
  intro: |
    <p>In this episode of the podcast, Dan and Bekah switch things up. Since it's last episode of season one, they share a bit about their origin stories, when their paths connected, and how that led to where Virtual Coffee is today.</p>
  card: /assets/images/podcast/0109-bekahdan-episode.jpg
  mp3: https://www.buzzsprout.com/1558601/8096247-dan-and-bekah-season-one-wrap-up.mp3?blob_id=36439110&download=true
  guests:
  - name: Bekah Hawrot Weigel
    headshot: "/assets/images/podcast/0109-bekah.jpg"
    headshotAlt: "Bekah's profile photo"
    bio: |
      <p>Front-end developer, and Org Maintainer at Virtual Coffee.</p>
      <ul>
        <li><a href="https://dev.to/bekahhw">dev.to/bekahhw</a></li>
        <li><a href="https://twitter.com/bekahhw">@bekahhw</a> on Twitter</li>
        <li><a href="https://www.instagram.com/bekahhw">bekahhw</a> on Instagram</li>
      </ul>
  - name: Dan Ott
    headshot: "/assets/images/podcast/0109-dan.jpg"
    headshotAlt: "Dan's profile photo"
    bio: |
      <p>Front-end developer, and Org Maintainer at Virtual Coffee.</p>
      <ul>
        <li><a href="https://dtott.com">dtott.com</a></li>
        <li><a href="https://twitter.com/danieltott">@danieltott</a> on Twitter</li>
      </ul>
---

<h3>Show Notes:</h3>

<p>In this episode of the podcast, Dan and Bekah switch things up. Since it's last episode of season one, they share a bit about their origin stories, when their paths connected, and how that led to where Virtual Coffee is today. They talk about the challenges of the last year, how Virtual Coffee has been a light during dark times, and how growing can be painful, but also the process that allows you to become more than you could've imagined. And they also drop some of their favorite Virtual Coffee moments of the last year.</p>

<h4>Links:</h4>

<h5>Virtual Coffee:</h5>
<ul>
  <li>Virtual Coffee: <a href="https://virtualcoffee.io/">virtualcoffee.io</a></li>
  <li>Podcast Contact: <a href="mailto:podcast@virtualcoffee.io">podcast@virtualcoffee.io</a></li>
  <li>Bekah: <a href="https://dev.to/bekahhw">dev.to/bekahhw</a>, Twitter: <a href="https://twitter.com/bekahhw">https://twitter.com/bekahhw</a>, Instagram: <a href="https://www.instagram.com/bekahhw">bekahhw</a></li>
  <li>Dan: <a href="https://dtott.com">dtott.com</a>, Twitter: <a href="https://twitter.com/danieltott">@danieltott</a></li>
</ul>
