---
layout: layouts/podcast.njk
title: "Gant Laborde: Finding your Voice"
description: 'Season Two, Episode One of the Virtual Coffee Podcast'
tags: podcast
date: 2021-04-06
podcast:
  season: 2
  episode: 1
  intro: |
    <p>We're back! In this episode of the Virtual Coffee podcast, Dan and Bekah talk to Gant Laborde, an owner of Infinite Red, mentor, adjunct professor, published author, and award-winning speaker, about overcoming challenges, being authentic, and finding your voice.</p>
  card: /assets/images/podcast/0201-gant-episode.jpg
  mp3: https://www.buzzsprout.com/1558601/8281596-gant-laborde-finding-your-voice.mp3?blob_id=37556128&download=true
  guests:
  - name: Gant Laborde
    headshot: "/assets/images/podcast/0201-gant.jpg"
    headshotAlt: "Gant Laborde profile photo"
    bio: |
      <p>Gant Laborde is an owner of Infinite Red, mentor, adjunct professor, published author, and award-winning speaker. For 20 years, he has been involved in software development and continues strong today. He is recognized as a Google Developer Expert in Web and Machine Learning, but informally he is an “open sourcerer” and aspires to one day become a mad scientist. He blogs, videos, and maintains popular repositories for the community. Follow Gant’s adventures at <a href="https://gantlaborde.com/">gantlaborde.com</a>.</p>
---

<h3>Show Notes:</h3>

<p>In this episode of the Virtual Coffee podcast, Dan and Bekah talk to Gant Laborde, an owner of Infinite Red, mentor, adjunct professor, published author, and award-winning speaker, about overcoming challenges, being authentic, and finding your voice. They share some of the struggles they've faced, talk about how practice can lead to growth, and the importance of recognizing your body's signals in the process.</p>

<h4>Links:</h4>
<ul>
  <li>Gant: <a href="https://gantlaborde.com/">gantlaborde.com</a>, <a href="https://twitter.com/GantLaborde">@GantLaborde</a></li>
  <li>
    <h5>Some blog posts about public speaking by Gant:</h5>
    <ul>
      <li><a href="https://gantlaborde.medium.com/open-your-speech-and-make-it-marvelous-e031cfa18858">Open your speech, and make it marvelous</a></li>
      <li><a href="https://medium.com/hackernoon/5-conference-speaking-tips-from-tech-gurus-2f7d1a250af3">5 Conference Speaking Tips from Tech Gurus</a></li>
      <li><a href="https://shift.infinite.red/the-road-to-distinguished-c9e458da091c">The Road to Distinguished: From Afraid to Awarded — The path to public speaking success</a></li>
    </ul>
  </li>
  <li><a href="https://cryptozombies.io/">Cryptozombies</a></li>
  <li><a href="https://geddski.teachable.com/p/flexbox-zombies">Flexbox zombies</a></li>
  <li><a href="https://infinite.red/">Infinite Red</a></li>
  <li><a href="https://www.toastmasters.org/">Toastmasters</a></li>
  <li><a href="https://www.amazon.com/gp/product/1492090794/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=gant0d-20&creative=9325&linkCode=as2&creativeASIN=1492090794&linkId=9b7b356b7b13efdaf9d34bfa47f7a6ee">Learning TensorFlow.js: Powerful Machine Learning in JavaScript by Gant Laborde</a></li>
</ul>

<h5>Virtual Coffee:</h5>
<ul>
  <li>Virtual Coffee: <a href="https://virtualcoffee.io/">virtualcoffee.io</a></li>
  <li>Podcast Contact: <a href="mailto:podcast@virtualcoffee.io">podcast@virtualcoffee.io</a></li>
  <li>Bekah: <a href="https://dev.to/bekahhw">dev.to/bekahhw</a>, Twitter: <a href="https://twitter.com/bekahhw">https://twitter.com/bekahhw</a>, Instagram: <a href="https://www.instagram.com/bekahhw">bekahhw</a></li>
  <li>Dan: <a href="https://dtott.com">dtott.com</a>, Twitter: <a href="https://twitter.com/danieltott">@danieltott</a></li>
</ul>
