---
layout: layouts/podcast.njk
title: "Lucia Cerchie: Mom life and finding your confidence"
description: 'Season Two, Episode Two of the Virtual Coffee Podcast'
tags: podcast
date: 2021-04-11
podcast:
  season: 2
  episode: 2
  intro: |
    <p>In this episode of the podcast, Dan and Bekah talk with Lucia Cercie, a Software Engineer, about the importance of having a growth-mindset, asking questions, and pair programming.</p>
  card: /assets/images/podcast/0202-lucia-episode.jpg
  mp3: https://www.buzzsprout.com/1558601/8281596-gant-laborde-finding-your-voice.mp3?blob_id=37556128&download=true
  guests:
  - name: Lucia Cerchie
    headshot: "/assets/images/podcast/0202-lucia.jpg"
    headshotAlt: "Lucia Cerchie profile photo"
    bio: |
      <p>Lucia Cerchie is a software engineer from Phoenix, AZ. She spends a lot of time orbiting outside her comfort zone and when she's not coding, she likes to make her baby laugh.</p>
---

<h3>Show Notes:</h3>

<p>In this episode of the podcast, Dan and Bekah talk with Lucia Cercie, a Software Engineer, mom, and Arizona transplant, about the importance of having a growth-mindset, asking questions, and pair programming. We also talk about the power of community and feeling comfortable asking questions and asking for help. When she's not coding, Lucia likes to make her baby laugh.</p>

<h4>Links:</h4>
<ul>
  <li>Lucia: <a href="https://luciacerchie.dev/">luciacerchie.dev</a>, <a href="https://twitter.com/CerchieLucia">@CerchieLucia</a> on Twitter, <a href="https://dev.to/cerchie">cerchi</a> on DEV</li>
  <li><a href="https://hbr.org/2016/01/what-having-a-growth-mindset-actually-means">Growth mindset</a></li>
</ul>

<h5>Virtual Coffee:</h5>
<ul>
  <li>Virtual Coffee: <a href="https://virtualcoffee.io/">virtualcoffee.io</a></li>
  <li>Podcast Contact: <a href="mailto:podcast@virtualcoffee.io">podcast@virtualcoffee.io</a></li>
  <li>Bekah: <a href="https://dev.to/bekahhw">dev.to/bekahhw</a>, Twitter: <a href="https://twitter.com/bekahhw">https://twitter.com/bekahhw</a>, Instagram: <a href="https://www.instagram.com/bekahhw">bekahhw</a></li>
  <li>Dan: <a href="https://dtott.com">dtott.com</a>, Twitter: <a href="https://twitter.com/danieltott">@danieltott</a></li>
</ul>
