---
layout: layouts/podcast.njk
title: 'Glen McCallum: From IC to Engineering Manager, and the lessons learned along the way'
description: 'Season Two, Episode Three of the Virtual Coffee Podcast'
tags: podcast
date: 2021-04-20
podcast:
  season: 2
  episode: 3
  intro: |
    <p>In this episode, Dan and Bekah talk to Glen McCallum, a Software engineer and manager from Victoria, Canada, about his unexpected career journey, the hard decisions he's had to make, and using open-source software with his artificial pancreas.</p>
  card: /assets/images/podcast/0203-glen-episode.jpg
  mp3: https://www.buzzsprout.com/1558601/8315337-lucia-cerchie-mom-life-and-finding-your-confidence.mp3?blob_id=37824008&download=true
  guests:
    - name: Glen McCallum
      headshot: '/assets/images/podcast/0203-glen.jpg'
      headshotAlt: 'Lucia Cerchie profile photo'
      bio: |
        <p>Glen McCallum is a Software engineer from Victoria, Canada. For the past 7 years he's been doing backend development in C# and SQL. Earlier, he did projects in Java and Rails. He's always learning, currently exploring big data with hadoop, python, and spark. Day-to-day he manages a team of 8 engineers for the 2nd largest independent book distributor in the United States.</p>
---

<h3>Show Notes:</h3>

<p>
  In this episode, Dan and Bekah talk to Glen McCallum, a Software engineer from
  Victoria, Canada who manages a team of 8 engineers for the 2nd largest
  independent book distributor in the US, about his unexpected career journey,
  the hard decisions he's had to make, and using open-source software with his
  artificial pancreas. Glen also talks about his near-death experience in his
  first IT job and the decision to move from Independent Contributor to
  Management.
</p>

<h4>Links:</h4>
<ul>
  <li>
    Glen: <a href="https://glenmccallum.com/">glenmccallum.com</a>,
    <a href="https://twitter.com/glenmccallumcan">@glenmccallumcan</a> on
    Twitter,
  </li>
  <li>
    Glen's Lightning Talk:
    <a href="https://youtu.be/2hIBz5Ogi3o"
      >From independent contributor to engineering manager</a
    >
  </li>
  <li>
    <a
      href="https://www.healthline.com/health/diabetesmine/innovation/we-are-not-waiting#About-the-#WeAreNotWaiting-Movement"
      >We are not waiting movement</a
    >
  </li>
  <li><a href="https://openaps.org/">OpenAPS</a></li>
</ul>

<h5>Virtual Coffee:</h5>
<ul>
  <li>
    Virtual Coffee: <a href="https://virtualcoffee.io/">virtualcoffee.io</a>
  </li>
  <li>
    Podcast Contact:
    <a href="mailto:podcast@virtualcoffee.io">podcast@virtualcoffee.io</a>
  </li>
  <li>
    Bekah: <a href="https://dev.to/bekahhw">dev.to/bekahhw</a>, Twitter:
    <a href="https://twitter.com/bekahhw">https://twitter.com/bekahhw</a>,
    Instagram: <a href="https://www.instagram.com/bekahhw">bekahhw</a>
  </li>
  <li>
    Dan: <a href="https://dtott.com">dtott.com</a>, Twitter:
    <a href="https://twitter.com/danieltott">@danieltott</a>
  </li>
</ul>
