---
layout: layouts/podcast.njk
title: 'Debra-Kaye Elliott: The Self-Taught Developer Journey'
description: 'Season Two, Episode Four of the Virtual Coffee Podcast'
tags: podcast
date: 2021-04-27
podcast:
  season: 2
  episode: 4
  intro: |
    <p>In this episode of the podcast, we talk to Debra-Kaye Elliott about what it's like to be on the self-taught developer journey, imposter syndrome, and some of the key things she's learned along the way.</p>
  card: /assets/images/podcast/0204-debra-kaye-episode.jpg
  id: 8413543
  guests:
    - name: Debra-Kaye Elliott
      headshot: '/assets/images/podcast/0204-debra-kaye.jpg'
      headshotAlt: 'Debra-Kaye Elliott profile photo'
      bio: |
        <p>Debra-Kaye Elliott is a Front End Developer going through a bootcamp, who's adding community-learning to her learning process. She's a career changer from the administrative field and always wanted to be in tech.</p>
---

<h3>Show Notes:</h3>

<p>
  In this episode of the podcast, we talk to Debra-Kaye Elliott, a self-taught frontend developer making her way through Frontend Masters Web Development Bootcamp, about what it's like to be on the self-taught developer journey, how she navigates imposter syndrome, and the lessons she's learned a long the way. She talks about the impact of being able to learn with support, choosing the resources that work best for you, and how blogging has been a part of her journey.
</p>

<h4>Links:</h4>
<ul>
  <li>
    Debra-Kaye:
    <a href="https://twitter.com/debrakayelliott">@debrakayelliott</a> on
    Twitter, <a href="https://www.linkedin.com/in/debrakayeelliott">@debrakayeelliott</a> on
    LinkedIn, and <a href="https://dev.to/debrakayeelliott">dev.to/debrakayeelliott</a>.
  </li>
</ul>

<h5>Virtual Coffee:</h5>
<ul>
  <li>
    Virtual Coffee: <a href="https://virtualcoffee.io/">virtualcoffee.io</a>
  </li>
  <li>
    Podcast Contact:
    <a href="mailto:podcast@virtualcoffee.io">podcast@virtualcoffee.io</a>
  </li>
  <li>
    Bekah: <a href="https://dev.to/bekahhw">dev.to/bekahhw</a>, Twitter:
    <a href="https://twitter.com/bekahhw">https://twitter.com/bekahhw</a>,
    Instagram: <a href="https://www.instagram.com/bekahhw">bekahhw</a>
  </li>
  <li>
    Dan: <a href="https://dtott.com">dtott.com</a>, Twitter:
    <a href="https://twitter.com/danieltott">@danieltott</a>
  </li>
</ul>
