---
layout: layouts/podcast.njk
title: 'Tom Cudd - Psychological Safety and DevOps'
description: 'Season Two, Episode Five of the Virtual Coffee Podcast'
tags: podcast
date: 2021-05-04
podcast:
  season: 2
  episode: 5
  intro: |
    <p>In this episode of the podcast, we talk to Tom Cudd about his experiences with DevOps, the importance of building psychological safety in to your team building and workflows.</p>
  card: /assets/images/podcast/0205-tomcudd-episode.jpg
  id: 8456725
  guests:
    - name: Tom Cudd
      headshot: '/assets/images/podcast/0205-tomcudd.jpg'
      headshotAlt: 'Tom Cudd profile photo'
      bio: |
        <p>Tom Cudd is a Systems Architect and a reformed Systems Administrator for an ad agency in the Kansas City area. He has been employed in technology for nearly 20 years, but has been using computers and the internet for most of his life. Tom is a huge fan of DevOps, lean processes, learning mindsets, and empathy with action. He also rabidly follows Husker football and the Chiefs.</p>
---

<h3>Show Notes:</h3>

<p>
	In this episode of the podcast, we talk to Tom Cudd, a systems architect and
	20-year veteran in technology. We talked about his experiences with DevOps and
	how it has changed over the years, about psychological safety: what it means
	to Tom, and how important it is to build in to your team and workflows, and
	about the dangers of "hero culture" in the workplace.
</p>

<h4>Links:</h4>
<ul>
	<li>
		Tom Cudd:
		<a href="https://twitter.com/tomcudd">@tomcudd</a> on Twitter,
		<a href="https://tomcudd.com">tomcudd.com</a>
	</li>
</ul>

<h5>Mentioned in the Episode:</h5>
<ul>
	<li>
		<a href="https://www.goodreads.com/book/show/17255186-the-phoenix-project"
			>The Phoenix Project</a
		>
	</li>
	<li>
		<a href="https://www.goodreads.com/book/show/44333183-the-unicorn-project"
			>the Unicorn Project</a
		>
	</li>
	<li>
		<a href="https://www.goodreads.com/book/show/18167218-lean-enterprise"
			>Lean Enterprise</a
		>
	</li>
	<li>
		<a href="https://www.goodreads.com/book/show/35747076-accelerate"
			>Accelerate</a
		>
	</li>
	<li>
		<a href="https://www.goodreads.com/book/show/29939161-radical-candor"
			>Radical Candor</a
		>
	</li>
	<li><a href="https://softwaresocial.dev/">Software Social Podcast</a></li>
	<li><a href="https://www.manager-tools.com/">Manager Tools</a></li>
</ul>

<h5>Virtual Coffee:</h5>
<ul>
	<li>
		Virtual Coffee: <a href="https://virtualcoffee.io/">virtualcoffee.io</a>
	</li>
	<li>
		Podcast Contact:
		<a href="mailto:podcast@virtualcoffee.io">podcast@virtualcoffee.io</a>
	</li>
	<li>
		Bekah: <a href="https://dev.to/bekahhw">dev.to/bekahhw</a>, Twitter:
		<a href="https://twitter.com/bekahhw">https://twitter.com/bekahhw</a>,
		Instagram: <a href="https://www.instagram.com/bekahhw">bekahhw</a>
	</li>
	<li>
		Dan: <a href="https://dtott.com">dtott.com</a>, Twitter:
		<a href="https://twitter.com/danieltott">@danieltott</a>
	</li>
</ul>
