---
layout: layouts/podcast.njk
title: 'Courtney Landau - On being quiet in a loud tech world '
description: 'Season Two, Episode Six of the Virtual Coffee Podcast'
tags: podcast
date: 2021-05-11
podcast:
  season: 2
  episode: 6
  intro: |
    <p>In this episode of the podcast, we talk to Courtney Landau about how the trend of constant self-marketing in tech has impacted her career, her experience as a developer, and what's it's been like to take on a variety of roles as a Virtual Coffee contributor.</p>
  card: /assets/images/podcast/0206-courtney-episode.jpg
  id: 8499055
  guests:
    - name: Courtney Landau
      headshot: '/assets/images/podcast/0206-courtney.jpg'
      headshotAlt: 'Courtney Landau profile photo'
      bio: |
        <p>Courtney is a software engineer currently working at an early-stage startup in the Education Technology space. Previously in the medical imaging field, she’s been working in the industry since 2019 after obtaining her Master’s in Information Sciences. She works on full-stack web applications using primarily TypeScript and JavaScript, built on a cloud platform. For fun she likes to run, play board games with her family, and patronize local independent restaurants and breweries.</p>
---

<h3>Show Notes:</h3>

<p>
	In this episode of the podcast, we talk to Courtney Landau, a software
	engineer currently working at an early-stage startup in the Education
	Technology space. We talked about her experience with being quiet in tech with
	the constant push for self-marketing and how she learns new things. We also
	dive into her experience as a mentor, speaker, lightning talk team member, and
	the other roles she's played as part of Virtual Coffee.
</p>

<h4>Links:</h4>
<ul>
	<li>
		Courtney Landau:
		<a href="https://twitter.com/sosuperc">@sosuperc</a> on Twitter,
		<a href="http://www.celandau.com/">celandau.com</a>
	</li>
</ul>

<h5>Mentioned in the Episode:</h5>
<ul>
	<li>
		<a href="https://twitter.com/sosuperc/status/1372529647947288588?s=20"
			>Quiet & soft-spoken =/= inexperienced.</a
		>
	</li>
	<li>
		Courtney's Lightning Talk from 2021:
		<a href="https://www.youtube.com/watch?v=ghFNiCMy67M"
			>Breaking down coding problems in interviews</a
		>
	</li>
	<li>
		<a
			href="https://chrome.google.com/webstore/detail/learnics-teacher-link/nhdacjmkhimeohpnahfmdmcknaneeffk"
			>Learnics Teacher Link Chrome Extension</a
		>
	</li>
</ul>

<h5>Virtual Coffee:</h5>
<ul>
	<li>
		Virtual Coffee: <a href="https://virtualcoffee.io/">virtualcoffee.io</a>
	</li>
	<li>
		Podcast Contact:
		<a href="mailto:podcast@virtualcoffee.io">podcast@virtualcoffee.io</a>
	</li>
	<li>
		Bekah: <a href="https://dev.to/bekahhw">dev.to/bekahhw</a>, Twitter:
		<a href="https://twitter.com/bekahhw">https://twitter.com/bekahhw</a>,
		Instagram: <a href="https://www.instagram.com/bekahhw">bekahhw</a>
	</li>
	<li>
		Dan: <a href="https://dtott.com">dtott.com</a>, Twitter:
		<a href="https://twitter.com/danieltott">@danieltott</a>
	</li>
</ul>
