---
layout: layouts/podcast.njk
title: 'Nerando Johnson - Keeping Momentum, Community, and Socialization as a Service'
description: 'Season Two, Episode Seven of the Virtual Coffee Podcast'
tags: podcast
date: 2021-05-18
podcast:
  season: 2
  episode: 7
  id: 8542053
  intro: |
    <p>In this episode of the podcast we talk to Nerando Johnson, a full stack developer, about running freeCodeCamp meetups in Atlanta, learning through hackathons, and how his next endeavor should be socialization as a service for tech events.</p>
  card: /assets/images/podcast/0207-nerando-episode.jpg
  mp3: https://www.buzzsprout.com/1558601/8542053-nerando-johnson-keeping-momentum-community-and-socialization-as-a-service.mp3?download=true
  guests:
    - name: Nerando Johnson
      headshot: '/assets/images/podcast/0207-nerando.jpg'
      headshotAlt: 'Nerando Johnson profile photo'
      bio: |
        <p>This is Nerando, he likes to use programming to solve problems, (Yup, he is a developer). Nerando has been a community organizer for <a href="https://www.facebook.com/groups/free.code.camp.atlanta/">freeCodeCamp Atlanta</a> for over the last two years. He has been to a <a href="https://medium.com/paratransit-pal/paratransit-pal-won-40-000-at-at-ts-atlanta-civic-coding-challenge-and-gave-it-all-to-charity-30bba157d92d">few hackathons</a> and is <a href="https://dev.to/nerajno">an infrequent blogger</a>. When not coding, Nerando enjoys coding cooking, reading, the act of creating something from nothing and consuming the odd blog or podcast about the human mind (<a href="https://www.npr.org/programs/">Hi, NPR</a>).</p>
---

<h3>Show Notes:</h3>

<p>
  In this episode of the podcast, Dan and Bekah talk with Nerando Johnson, a full stack developer looking for his next job, about running freeCodeCamp meetups in Atlanta, learning through hackathons (including that one time his team won the hackathon and donated the $40,000 in winnings to charity) and how his next endeavor should be socialization as a service for tech events. We also talk about the importance of having a solid support system and we laugh...a lot.
</p>

<h4>Links:</h4>
<ul>
  <li>
    Nerando Johnson:
    <a href="https://twitter.com/nerajno">@nerajno</a> on
    Twitter, <a href="https://dev.to/nerajno/">nerajno</a> on DEV,
    <a href="https://github.com/Nerajno">Nerajno</a> on GitHub
  </li>
</ul>

<h5>Mentioned in the Episode:</h5>
<ul>
  <li><a href="https://www.itsmarta.com/marta-hackathon.aspx">MARTA Hackathon</a></li>
  <li>freeCodeCamp Atlanta - <a href="https://www.facebook.com/groups/free.code.camp.atlanta/">Facebook</a> - <a href="https://study-group-directory.freecodecamp.org/">Find your FCC Meetup</a>:</li>
  <li>Reactadelphia - <a href="https://twitter.com/reactadelphia">@reactadelphia</a></li>
  <li><a href="https://connect.tech/">Connect.Tech</a></li>
  <li><a href="https://twitter.com/garyvee">Gary Vee</a></li>
  <li><a href="https://twitter.com/xirclebox">Homer Gaines</a></li>
  <li><a href="https://twitter.com/techieEliot">Eliot Sanford</a></li>
  <li><a href="https://twitter.com/DThompsonDev">Danny Thompson</a></li>
  <li><a href="https://twitter.com/Career_Karma">Career Karma</a></li>
  <li><a href="https://www.jim-butcher.com/books/Dresden">Dresden Files</a></li>
  <li><a href="https://www.goodreads.com/book/show/27213329-grit">Grit: The Power of Passion and Perseverance</a></li>
</ul>

<h5>Virtual Coffee:</h5>
<ul>
  <li>
    Virtual Coffee: <a href="https://virtualcoffee.io/">virtualcoffee.io</a>
  </li>
  <li>
    Podcast Contact:
    <a href="mailto:podcast@virtualcoffee.io">podcast@virtualcoffee.io</a>
  </li>
  <li>
    Bekah: <a href="https://dev.to/bekahhw">dev.to/bekahhw</a>, Twitter:
    <a href="https://twitter.com/bekahhw">https://twitter.com/bekahhw</a>,
    Instagram: <a href="https://www.instagram.com/bekahhw">bekahhw</a>
  </li>
  <li>
    Dan: <a href="https://dtott.com">dtott.com</a>, Twitter:
    <a href="https://twitter.com/danieltott">@danieltott</a>
  </li>
</ul>
