---
title: 'Sara McCombs - Learning to leverage your past experience and embrace your whole self'
description: 'Season Two, Episode Eight of the Virtual Coffee Podcast'
date: 2021-05-25
podcast:
  season: 2
  episode: 8
  id: 8584928
  intro: |
    <p>In this episode of the podcast we talk to Sara McCombs, a software engineer, team lead, and Community Maintainer at Virtual Coffee, about how to leverage your past experience, talk about transferable skills, and owning your wins as an early career developer.</p>
  card: /assets/images/podcast/0208-sara-episode.jpg
  guests:
    - name: Sara McCombs
      headshot: '/assets/images/podcast/0208-sara.jpg'
      headshotAlt: 'Sara McCombs profile photo'
      bio: |
        <p>Sara is a published former research director turned software engineer and team lead at <a href="https://www.aiera.com/">Aiera</a>, as well as a community engagement leader at <a href="https://www.projectalloy.org/">Project Alloy</a>. She is also one of the original organizers, and a current community maintainer, at <a href="https://virtualcoffee.io">Virtual Coffee</a>. Sara is passionate about diversity and inclusion, and has written frequently about her journey into tech. She has an M.Ag and a B.S.Ag from West Virginia University, and is a 2020 graduate of Flatiron School.</p>
---

<h3>Show Notes:</h3>

<p>
	In this episode of the podcast, Dan and Bekah talk with Sara McCombs. Sara is
	a software engineer and team lead at
	<a href="https://www.aiera.com/">Aiera</a>, and also one of the original
	organizers, and a current Community Maintainer, at Virtual Coffee. Sara shared
	her thoughts on how to think and talk about transferable skills, leveraging
	past experience to differentiate yourself, and the importance of embracing
	that past experience as part of your journey and strengths. She also talked
	about the impact of career changes, promotions, and overcoming self-doubt.
</p>

<h4>Links:</h4>
<ul>
	<li>
		Sara McCombs:
		<a href="https://twitter.com/dino_momma">@dino_momma</a> on Twitter,
		<a href="https://dev.to/saramccombs/">saramccombs</a> on DEV,
		<a href="https://github.com/saramccombs">saramccombs</a> on GitHub
	</li>
</ul>

<h5>Virtual Coffee:</h5>
<ul>
	<li>
		Virtual Coffee: <a href="https://virtualcoffee.io/">virtualcoffee.io</a>
	</li>
	<li>
		Podcast Contact:
		<a href="mailto:podcast@virtualcoffee.io">podcast@virtualcoffee.io</a>
	</li>
	<li>
		Bekah: <a href="https://dev.to/bekahhw">dev.to/bekahhw</a>, Twitter:
		<a href="https://twitter.com/bekahhw">https://twitter.com/bekahhw</a>,
		Instagram: <a href="https://www.instagram.com/bekahhw">bekahhw</a>
	</li>
	<li>
		Dan: <a href="https://dtott.com">dtott.com</a>, Twitter:
		<a href="https://twitter.com/danieltott">@danieltott</a>
	</li>
</ul>
