---
layout: layouts/podcast.njk
title: 'Season Two Wrap-Up: Code and Community'
description: 'Season Two, Episode Nine of the Virtual Coffee Podcast'
tags: podcast
date: 2021-06-01
podcast:
  season: 2
  episode: 9
  id: 8625475
  intro: |
    <p>In this episode of the podcast, Dan and Bekah wrap up season two by talking about what they've learned about community, supporting members, and trying to find the right tools to make it happen.</p>
  card: /assets/images/podcast/0209-season-2-wrapup.jpg
  guests:
    - name: Bekah Hawrot Weigel
      headshot: '/assets/images/podcast/0209-bekah.jpg'
      headshotAlt: "Bekah's profile photo"
      bio: |
        <p>Front-end developer, and Org Maintainer at Virtual Coffee.</p>
        <ul>
          <li><a href="https://dev.to/bekahhw">dev.to/bekahhw</a></li>
          <li><a href="https://twitter.com/bekahhw">@bekahhw</a> on Twitter</li>
          <li><a href="https://www.instagram.com/bekahhw">bekahhw</a> on Instagram</li>
        </ul>
    - name: Dan Ott
      headshot: '/assets/images/podcast/0209-dan.jpg'
      headshotAlt: "Dan's profile photo"
      bio: |
        <p>Front-end developer, and Org Maintainer at Virtual Coffee.</p>
        <ul>
          <li><a href="https://dtott.com">dtott.com</a></li>
          <li><a href="https://twitter.com/danieltott">@danieltott</a> on Twitter</li>
        </ul>
---

<h3>Show Notes:</h3>

<p>
	In this episode of the podcast, Dan and Bekah wrap up season two by talking
	about what they've learned about community building over the last year and
	some lessons they've learned along the way. They talk about Virtual Coffee's
	mission to support its members, and how Virtual Coffee's unique approach
	presents both challenges and opportunities when it comes to finding tools and
	guidance as the community grows.
</p>

<h4>Links:</h4>
<ul>
	<li><a href="https://magnoliajs.com/">MagnoliaJS</a></li>
	<li>
		<em><a href="https://www.radicalcandor.com/">Radical Candor</a></em> by Kim
		Scott
	</li>
	<li><a href="https://twitter.com/kldickenson">Karen Dickinson</a></li>
	<li><a href="https://orbit.love/">Orbit model</a></li>
	<li><a href="https://twitter.com/MarieAntons">Marie Antons</a></li>
	<li><a href="https://twitter.com/ray_deck">Ray Deck</a></li>
	<li><a href="https://twitter.com/CerchieLucia">Lucia Cerchie</a></li>
	<li>
		<a href="https://twitter.com/CerchieLucia/status/1397937325464723458"
			>Lucia's tweet about Hacktoberfest</a
		>
	</li>
</ul>

<h5>Virtual Coffee:</h5>
<ul>
	<li>
		Virtual Coffee: <a href="https://virtualcoffee.io/">virtualcoffee.io</a>
	</li>
	<li>
		Podcast Contact:
		<a href="mailto:podcast@virtualcoffee.io">podcast@virtualcoffee.io</a>
	</li>
	<li>
		Bekah: <a href="https://dev.to/bekahhw">dev.to/bekahhw</a>, Twitter:
		<a href="https://twitter.com/bekahhw">https://twitter.com/bekahhw</a>,
		Instagram: <a href="https://www.instagram.com/bekahhw">bekahhw</a>
	</li>
	<li>
		Dan: <a href="https://dtott.com">dtott.com</a>, Twitter:
		<a href="https://twitter.com/danieltott">@danieltott</a>
	</li>
</ul>
