---
layout: layouts/podcast.njk
title: 'Jono Yeong - Digital Gardening and Tim Tams'
description: 'Season Three, Episode One of the Virtual Coffee Podcast'
tags: podcast
date: 2021-07-06
podcast:
  season: 3
  episode: 1
  id: 8821435
  intro: |
    <p>In this episode of the podcast Bekah and Dan talk to Jono Yeong about digital gardening, learning Elixir, and how he brings learning new things to what he's doing with Rails. And for a bonus, he even walks us through how to do a proper Tim Tam slam.</p>
  card: /assets/images/podcast/0301-jono-episode.jpg
  guests:
    - name: Jonathan Yeong
      headshot: '/assets/images/podcast/0301-jono.jpg'
      headshotAlt: "Jono Yeong's Profile Photo"
      bio: |
        <p>Jonathan Yeong is a senior developer at Shopify. Being from Australia, he often goes by Jono. A Rubyist at heart, he blogs and produces videos about all things programming. He’s passionate about the human connections in technology. And believes that being part of a community, a mentor, and a teacher is one of the most rewarding things you can do.</p>
        <ul>
          <li><a href="https://twitter.com/JonoYeong">Twitter</a></li>
          <li><a href="https://www.jonathanyeong.com">Website</a></li>
          <li><a href="https://www.youtube.com/c/jonathanyeong">YouTube</a></li>
        </ul>
---

<h3>Show Notes:</h3>

<p>
	In this episode of the podcast Bekah and Dan talk to Jono Yeong, a senior
	software engineer originally from Australia, but currently based in Seattle,
	USA, about how digital gardening leaves room for growth, allows you to develop
	what you enjoy, and is an investment in communication skills. We also talk
	about learning Elixir, the process he goes through as he's learning something
	new, and how he brings learning new things to what he's doing with Rails.
	Bonus: he even walks us through how to do a proper Tim Tam slam.
</p>

<h4>Links:</h4>
<ul>
	<li>
		<a href="https://www.jonathanyeong.com/" rel="nofollow">Jono's website</a>
	</li>
	<li><a href="https://www.descript.com/" rel="nofollow">Descript</a></li>
	<li>
		<a href="https://maggieappleton.com/" rel="nofollow">Maggie Appleton</a>
	</li>
	<li>
		<a
			href="https://www.jonathanyeong.com/garden/using-github-and-notion-to-organise-side-projects"
			rel="nofollow"
			>Github and notion blogpost</a
		>
	</li>
	<li>
		<a href="https://twitter.com/VicVijayakumar" rel="nofollow"
			>Vic Vijayakumar</a
		>
	</li>
	<li><a href="https://twitter.com/nickytonline" rel="nofollow">NickyT</a></li>
	<li>
		<a href="https://www.youtube.com/watch?v=jhXJCqQBz04" rel="nofollow"
			>Building a social network for puppies</a
		>
	</li>
	<li>
		<a href="https://www.youtube.com/watch?v=k8hEo4N8Nhs" rel="nofollow"
			>TimTams slams</a
		>
	</li>
	<li>
		<a href="https://www.arnotts.com/products/tim-tam" rel="nofollow"
			>TimTams</a
		>
	</li>
</ul>

<h5>Virtual Coffee:</h5>
<ul>
	<li>
		Virtual Coffee: <a href="https://virtualcoffee.io/">virtualcoffee.io</a>
	</li>
	<li>
		Podcast Contact:
		<a href="mailto:podcast@virtualcoffee.io">podcast@virtualcoffee.io</a>
	</li>
	<li>
		Bekah: <a href="https://dev.to/bekahhw">dev.to/bekahhw</a>, Twitter:
		<a href="https://twitter.com/bekahhw">https://twitter.com/bekahhw</a>,
		Instagram: <a href="https://www.instagram.com/bekahhw">bekahhw</a>
	</li>
	<li>
		Dan: <a href="https://dtott.com">dtott.com</a>, Twitter:
		<a href="https://twitter.com/danieltott">@danieltott</a>
	</li>
</ul>
