---
layout: layouts/podcast.njk
title: 'Abbey Perini - Finding Confidence and Opportunities'
description: 'Season Three, Episode Two of the Virtual Coffee Podcast'
tags: podcast
date: 2021-07-13
podcast:
  season: 3
  episode: 2
  id: 8858957
  intro: |
    <p>On this episode of the podcast, we talk to Abbey Perini, a full-stack web developer, about the importance of practice, building in public, and sending thank you notes when you're interviewing for your first tech job.</p>
  card: /assets/images/podcast/0302-abbey-episode.jpg
  guests:
  - name: Abbey Perini
    headshot: "/assets/images/podcast/0302-abbey.jpg"
    headshotAlt: "Abbey Perini's Profile Photo"
    bio: |
      <p>Abbey Perini is many things - a metro Atlanta native, a person of many hobbies, and a full-stack web developer. Currently ramping up in her first development role, she loves blogging about stupid Discord bots, animated CSS buttons, and other fun and useful things about programming. You can find her work and ways to connect with her at <a href="https://abbeyperini.dev">abbeyperini.dev</a>.</p>
      <ul>
        <li><a href="https://abbeyperini.dev">abbeyperini.dev</a></li>
        <li><a href="https://twitter.com/AbbeyPerini">@AbbeyPerini</a> on Twitter</li>
        <li><a href="https://github.com/abbeyperini">@abbeyperini</a> on GitHub</li>
        <li><a href="https://dev.to/abbeyperini">dev.to/abbeyperini</a></li>
      </ul>
---

<h3>Show Notes:</h3>

<p>
  On this episode of the podcast, we talk to Abbey Perini, a full-stack web developer, about the impact building in public has had on her developer journey, what her experience as a recruiting admin taught her as she sent out 160 applications before landing her dev role, and how rehearsing before an interview can make a big impact.
</p>

<h4>Links mentioned in the episode:</h4>
<ul>
  <li>Github: <a href="https://github.com/abbeyperini">https://github.com/abbeyperini</a></li>
  <li><a href="https://www.indeed.com/career/salaries">Indeed job rate checker</a></li>
  <li>Abbey's posts mentioned:
  <ul>
    <li><a href="https://dev.to/abbeyperini/css-animated-button-with-offset-border-1ibi">CSS Animated Button with Offset Border</a></li>
    <li><a href="https://javascript.plainenglish.io/react-redux-reload-a-page-when-a-user-makes-a-change-7661a3e1b8ed">Sheba Counter: How To Reload a Page Whenever a User Makes a Change with React/Redux</a></li>
    <li><a href="https://dev.to/abbeyperini/toggle-dark-mode-in-react-28c9">Toggle Dark Mode in React</a></li>
    <li><a href="https://dev.to/abbeyperini/knitting-as-programming-3e5">Knitting as Programming</a></li>
    <li><a href="https://dev.to/abbeyperini/practicing-confidence-for-the-job-search-38nj">Practicing Confidence for the Job Search </a></li>
  </ul>
</ul>

<h5>Virtual Coffee:</h5>
<ul>
  <li>
    Virtual Coffee: <a href="https://virtualcoffee.io/">virtualcoffee.io</a>
  </li>
  <li>
    Podcast Contact:
    <a href="mailto:podcast@virtualcoffee.io">podcast@virtualcoffee.io</a>
  </li>
  <li>
    Bekah: <a href="https://dev.to/bekahhw">dev.to/bekahhw</a>, Twitter:
    <a href="https://twitter.com/bekahhw">https://twitter.com/bekahhw</a>,
    Instagram: <a href="https://www.instagram.com/bekahhw">bekahhw</a>
  </li>
  <li>
    Dan: <a href="https://dtott.com">dtott.com</a>, Twitter:
    <a href="https://twitter.com/danieltott">@danieltott</a>
  </li>
</ul>
