---
title: 'Ayu Adiati - Working through burnout as a self-taught developer'
description: 'Season Three, Episode Three of the Virtual Coffee Podcast'
tags: podcast
date: 2021-07-20
podcast:
  season: 3
  episode: 3
  id: 8893503
  intro: |
    <p>In this episode, Dan and Bekah talk to Ayu about the impact of community, being a prolific blogger, and the very real challenge of burnout.</p>
  card: /assets/images/podcast/0303-ayu-episode.jpg
  guests:
    - name: Ayu Adiati
      headshot: '/assets/images/podcast/0303-ayu.jpg'
      headshotAlt: "Abbey Perini's Profile Photo"
      bio: |
        <p>Originally from Indonesia and now based in The Netherlands, Ayu Adiati is a self-taught Frontend Developer & Technical Blogger. She’s on her way to break into tech from being a stay-at-home-mom of now a 4 years old daughter.</p>
        <p>When Ayu is not coding, you can find her with the DLSR camera on her hands, cuddling with her daughter, or enjoying her iced macchiato latte.</p>
        <ul>
          <li><a href="@AdiatiAyu (https://twitter.com/AdiatiAyu)">Twitter</a></li>
          <li><a href="https://adiati.com">Blog</a></li>
          <li><a href="https://dev.to/adiatiayu">DEV</a></li>
          <li><a href="https://community.codenewbie.org/adiatiayu">CodeNewbie</a></li>
          <li><a href="https://hashnode.com/@ayuadiati">Hashnode</a></li>
        </ul>
---

<h3>Show Notes:</h3>

<p>
	In this episode, Dan and Bekah talk to Ayu about the impact of community,
	being a prolific blogger, and the very real challenge of burnout. Ayu's
	openness about the challenges of being a mom on the self-taught track into
	tech, isolation, and fears of not being good enough are the stories that we
	don't share enough of. Because when we share, we can all work through them
	together. Thank you, Ayu, for reminding us that it's ok to not be ok.
</p>

<h4>Links mentioned in the episode:</h4>
<ul>
	<li>
		<a
			href="https://community.codenewbie.org/adiatiayu/lesson-learned-massive-burnout-in-learning-web-development-3b5g?signin=true"
			>Lesson Learned: Massive Burnout In Learning Web Development
		</a>
	</li>

	<li>
		<a href="https://twitter.com/AdiatiAyu/status/1400833965293019138?s=19"
			>Ayu's twitter thread about struggling with learning to code</a
		>
	</li>

	<li>
		<a href="https://www.freecodecamp.org/learn/responsive-web-design/"
			>Free Code Camp - web responsive design certification</a
		>
	</li>
	<li>
		<a
			href="https://community.codenewbie.org/codenewbie/ayu-polyglot-latte-lover-codenewbie-149m"
			>Ayu's CodeNewbie Community Spotlight</a
		>
	</li>
</ul>
