---
title: 'Kevin Truong - Tech Career Coaching'
description: 'Season Three, Episode Five of the Virtual Coffee Podcast'
date: 2021-08-03
podcast:
  season: 3
  episode: 5
  id: 8967149
  intro: |
    <p>In this episode of the podcast, Dan and Bekah talk to Kevin, a senior software consultant at Test Double and a coding career coach at his company Tap into Tech, about his approach to interviewing and how to navigate some of the biggest challenges early-career devs face when trying to break into the industry.</p>
  card: /assets/images/podcast/0305-kevin-episode.jpg
  guests:
    - name: Kevin Truong
      headshot: '/assets/images/podcast/0305-kevin.jpg'
      headshotAlt: "Kevin Truong's Profile Photo"
      bio: |
        <p>Kevin Truong is a senior software consultant at Test Double and a coding career coach at his company Tap into Tech. Previously a coding boot camp instructor and mentor, Kevin realized that boot camps were missing a lot of information when it came to the final steps of getting hired. With his years of experience, he has developed a program where he has coached dozens of early career devs on how to improve their results on getting a tech job.</p>
        <ul>
          <li>Twitter: <a href="https://twitter.com/TheKevinTruong">@TheKevinTruong</a></li>
          <li>LinkedIn: <a href="https://www.linkedin.com/in/thekevintruong/">thekevintruong</a></li>
          <li><a href="https://tapintotech.io/">Tap into Tech</a></li>
          <li><a href="http://thekevintruong.com/">thekevintruong.com</a></li>
        </ul>
---

<h3>Show Notes:</h3>

<p>
	In this episode of the podcast, Dan and Bekah talk to Kevin, a senior software
	consultant at Test Double and a coding career coach at his company Tap into
	Tech, about some of the most common challenges early-career developers face
	getting into tech and offers practical advice for working through those
	problems. We dive into visualization, personal support, and ways to change the
	interview process in tech.
</p>

<h5>Links:</h5>
<ul>
	<li>
		Kevin's Twitter:
		<a href="https://twitter.com/TheKevinTruong">@TheKevinTruong</a>
	</li>
	<li>
		Kevin's LinkedIn:
		<a href="https://www.linkedin.com/in/thekevintruong/">thekevintruong</a>
	</li>
	<li><a href="https://tapintotech.io/">Tap into Tech</a></li>
	<li><a href="https://testdouble.com/">Test Double</a></li>
	<li><a href="http://thekevintruong.com/">thekevintruong.com</a></li>
	<li><a href="https://www.loom.com/">Loom</a></li>
	<li>
		<a href="https://twitter.com/terribledustin/status/1405903173684850695?s=19"
			>Dustin McCaffree Upwork/Loom Tweet</a
		>
	</li>
</ul>
