---
title: 'Ray Deck - Rubber-Ducking your Life'
description: 'Season Three, Episode Six of the Virtual Coffee Podcast'
date: 2021-08-10
podcast:
  season: 3
  episode: 6
  id: 9007249
  intro: |
    <p>In this episode of the podcast, Dan and Bekah talk to Ray Deck about rubber ducking your career path, the importance of trust and relationships, and accepting that we're probably wrong more than we're right.</p>
  card: /assets/images/podcast/0306-ray-episode.jpg
  guests:
    - name: Ray Deck
      headshot: '/assets/images/podcast/0306-ray.jpg'
      headshotAlt: "Ray Deck's Profile Photo"
      bio: |
        <p>Ray is a trained data scientist, occasional angel investor, and software entrepreneur. His 25-year career spans industries from law to finance. Most recently, Ray is the founder of Sustained Ventures, a software product studio where he also publishes essays on technology and markets.</p>
        <p>Ray's thoughts can be followed at <a href="https://sustainedventures.com/essays">sustainedventures.com/essays</a>, and his less-thoughtful self is on Twitter <a href="https://twitter.com/ray_deck">@ray_deck</a>.</p>
        <ul>
          <li><a href="https://sustainedventures.com">Sustained Ventures</a></li>
          <li>Twitter: <a href="https://twitter.com/ray_deck">@ray_deck</a></li>
        </ul>
---

<h3>Show Notes:</h3>

<p>
	In this episode, Dan and Bekah talk to Ray Deck, a trained data scientist,
	occasional angel investor, and software entrepreneur, about finding the right
	career path through growth, learning, and motivation. We talk about the
	importance of trust and listening, and Ray drops a bunch of great resources to
	help everyone find their own path.
</p>

<h5>Favorite nonfiction books:</h5>
<ul>
	<li>
		Bekah's pick:
		<a href="https://allisonpataki.com/books/beauty-in-the-broken-places/"
			><em>Beauty in the Broken Places</em> by Allison Pataki</a
		>
	</li>
	<li>
		Bekah's second pick:
		<a href="https://drgabormate.com/book/scattered-minds/"
			><em>Scattered Minds</em> by Dr. Gabor Maté</a
		>
	</li>
	<li>
		Dan's pick:
		<a
			href="https://www.hachettebooks.com/titles/lindy-west/shit-actually/9780316449847/"
			><em>Shit, Actually</em> by Lindy West</a
		>
	</li>
	<li>
		Ray's pick:
		<a href="https://www.edwardtufte.com/tufte/books_vdqi"
			><em>The Visual Display of Quantitative Information</em> by Edwarde
			Tufte</a
		>
	</li>
</ul>

<h5>Links to things mentioned in the episode:</h5>
<ul>
	<li>
		<a href="https://simonsinek.com/product/start-with-why/"
			><em>Start With Why</em> by Simon Sinek</a
		>
	</li>
	<li>
		<a href="https://www.franklincovey.com/the-7-habits/"
			><em>The 7 Habits of Highly Effective People</em> by Stephen R. Covey</a
		>
	</li>
	<li>
		<a
			href="https://www.amazon.com/8th-Habit-Effectiveness-Greatness-Paperback/dp/B00GOHDKRI/"
			><em>The 8th Habit: From Effectiveness to Greatness</em> by Stephen R.
			Covey</a
		>
	</li>
</ul>
