---
title: 'Mike Rogers - Tend Your Career like a Garden'
description: 'Season Three, Episode Seven of the Virtual Coffee Podcast'
tags: podcast
date: 2021-08-17
podcast:
  season: 3
  episode: 7
  id: 9044559
  intro: |
    <p>In this episode, Dan and Bekah are joined by Mike Rogers, to talk about changing course as a dev, and tending careers like gardens.</p>
  card: /assets/images/podcast/0307-mike-episode.jpg
  guests:
    - name: Mike Rogers
      headshot: '/assets/images/podcast/0307-mike.jpg'
      headshotAlt: "Mike Rogers's Profile Photo"
      bio: |
        <p>Mike Rogers is a Ruby developer from the UK. He made the chat bots for Virtual Coffee, has an awesome Ruby Event Calendar, and loves Docker.</p>
        <ul>
          <li><a href="https://mikerogers.io/">mikerogers.io</a></li>
          <li>Twitter: <a href="https://twitter.com/mikerogers0">mikerogers0</a></li>
          <li>GitHub: <a href="https://github.com/MikeRogers0">MikeRogers0</a></li>
          <li>YouTube: <a href="https://www.youtube.com/c/MikeRogers0">MikeRogers0</a></li>
        </ul>
---

<h3>Show Notes:</h3>

<p>
	In this episode, Dan and Bekah are joined by Mike Rogers. Mike has had a long
	and successful career, but at one point he realized he no longer felt good or
	satisfied with where he was as a developer. He shared with us what he did to
	change course, and how he has learned to approach tending his career almost
	like a garden.
</p>

<h5>Links to things mentioned in the episode:</h5>
<ul>
	<li>
		Mike's YouTube:
		<a href="https://www.youtube.com/c/MikeRogers0">MikeRogers0</a>
	</li>
	<li>
		<a
			href="http://www.slate.com/articles/technology/technology/2012/03/ruby_ruby_on_rails_and__why_the_disappearance_of_one_of_the_world_s_most_beloved_computer_programmers_.html"
			>Where’s _why?</a
		>
		- What happened when one of the world’s most unusual, and beloved, computer
		programmers disappeared.
	</li>
	<li>
		Mike's Business Times cover:<br />
		{% set img = '/assets/images/podcast/0307-mike-bt-cover.jpg' %}
		<img
			alt="Business Times cover with title Roam Rangers and Mike's photo"
			class="mb-4"
			width="378"
			height="453"
			src="{{img | buildImgixUrl({})}}"
		/>
	</li>
	<li>
		Meditation Minis podcast:
		<a href="https://www.meditationminis.com/">meditationminis.com</a>
	</li>
</ul>
