---
title: 'Aurelie Verrot - Learning and Working Remotely'
description: 'Season Three, Episode Eight of the Virtual Coffee Podcast'
date: 2021-08-24
podcast:
  season: 3
  episode: 8
  id: 9080882
  intro: |
    <p>In this episode of the podcast, Dan and Bekah are joined by Aurelie Verrot to talk about working through bootcamp during the pandemic, remote work, and how to "just be cool" when you're dealing with challenges like the pandemic, virtual school, and remote work.</p>
  card: /assets/images/podcast/0308-aurelie-episode.jpg
  guests:
    - name: Aurelie Verrot
      headshot: '/assets/images/podcast/0308-aurelie.jpg'
      headshotAlt: "Aurelie Verrot's Profile Photo"
      bio: |
        <p>Aurelie Verrot is a software engineer from the San Francisco Bay Area, originally from France. After moving to the US and taking care of her children for 4 years, she decided to make a career change in 2019 to work in tech. She started her first dev job in May as a Software Engineer working mostly with Ruby on Rails.</p>
        <ul>
          <li>Twitter: <a href="https://twitter.com/LiliVerrot">LiliVerrot</a></li>
          <li>GitHub: <a href="https://github.com/aurelieverrot">aurelieverrot</a></li>
          <li>LinkedIn: <a href="https://www.linkedin.com/in/aurelieverrot/">aurelieverrot</a></li>
        </ul>
---

<h3>Show Notes:</h3>

<p>
	In this episode, Dan and Bekah talk to Aurelie Verrot, a Software Engineer
	from the San Francisco Bay Area, who's originally from France, about the
	importance of relationships in team-building--whether as part of the learning
	process or in a work environment--and the benefits of being able to work from
	home. She talks about the importance of clear communication, creating
	boundaries, and maintaining flexibility as key habits to build.
</p>

<h4>Links:</h4>

<h5>Aurelie:</h5>
<ul>
	<li>Twitter: <a href="https://twitter.com/LiliVerrot">LiliVerrot</a></li>
	<li>GitHub: <a href="https://github.com/aurelieverrot">aurelieverrot</a></li>
	<li>
		LinkedIn:
		<a href="https://www.linkedin.com/in/aurelieverrot/">aurelieverrot</a>
	</li>
</ul>
