---
title: 'Season 3 Wrap Up: Hacktoberfest is Coming!'
description: 'Season Three, Episode Nine of the Virtual Coffee Podcast'
tags: podcast
date: 2021-09-01
podcast:
  season: 3
  episode: 9
  id: 9124000
  intro: |
    <p>Community Maintainer Kirk joins us (again) for our Season 3 wrap up and Hacktoberfest preview!</p>
  card: /assets/images/podcast/0309-hacktoberfest.jpg
  guests:
    - name: Kirk Shillingford
      headshot: '/assets/images/podcast/0108-kirk.jpg'
      headshotAlt: "Kirk Shillingford's profile photo"
      bio: |
        <p>Software Developer, and Community Maintainer at Virtual Coffee.</p>
        <ul>
          <li><a href="https://twitter.com/KirkCodes">@KirkCodes</a> on Twitter</li>
          <li><a href="https://twitter.com/tkshill">@tkshill</a> on GitHub</li>
        </ul>
---

<h3>Show Notes:</h3>

<p>
	Community Maintainer Kirk joins us (again) for our Season 3 wrap up! We review
	what Virtual Coffee did last year for Hacktoberfest, and talk about a lot of
	the exciting things we have coming up this year! We also shared some fun
	things from the last year at Virtual Coffee, like our Virtual Coffee
	Co-Working Room!
</p>

<h4>Links:</h4>

<ul>
	<li>
		<a
			href="https://apps.apple.com/us/app/classic-sudoku/id1488838275"
			rel="nofollow"
			>Classic Sudoku</a
		>
	</li>
	<li>
		<a
			href="https://www.youtube.com/channel/UCC-UOdK8-mIjxBQm_ot1T-Q"
			rel="nofollow"
			>Cracking the Cryptic</a
		>
	</li>
	<li>
		<a href="https://twitter.com/MarieAntons" rel="nofollow">@MarieAntons</a>
	</li>
	<li>
		Tatiana Mac - <a href="https://github.com/selfdefined">selfdefined</a>
	</li>
	<li>
		<a href="https://github.com/dominicduffin1/Quarto"
			>Quarto by Dominic Duffin</a
		>
	</li>
	<li>
		<a href="https://github.com/BekahHW/postpartum-wellness-app"
			>Bekah's postpartum wellness app</a
		>
	</li>
	<li>
		<a href="https://github.com/Virtual-Coffee/virtualcoffee.io"
			>Virtual Coffee's GitHub Org</a
		>
	</li>
	<li>
		<a href="https://hacktoberfest.digitalocean.com"
			>Hacktoberfest on Digital Ocean</a
		>
	</li>
	<li>
		shoutout to our Monthly Challenge team: Adam, Andrew, Aurelie, Chris,
		Courtney, Dominic, Kevin, Luis, Vanessa, and Yolanda!
	</li>
</ul>
