---
title: "Jessi Shakarian - You aren't your tech stack: sharing your passion"
description: 'Season Four, Episode One of the Virtual Coffee Podcast'
date: 2021-10-06
podcast:
  season: 4
  episode: 1
  id: 9322612
  intro: |
    <p>In today's episode, Dan and Bekah talk to Jessi Shakarian about her journey into UX/UI and how that lead to the big energy she needed to find her place in tech.</p>
  card: /assets/images/podcast/0401-jessi-episode.png
  guests:
    - name: Jessi Shakarian
      headshot: '/assets/images/podcast/0401-jessi.jpg'
      headshotAlt: "Jessi Shakarian's profile photo"
      bio: |
        <p>Jessi Shakarian got her start in tech as a developer, but also she loved everything that happened before it was time to build a website. She is currently a UX designer at DIA Design Guild in Los Angeles and a python developer interested in machine learning.</p>
        <ul>
          <li><a href="https://www.jessishakarian.com/">jessishakarian.com</a></li>
          <li><a href="https://twitter.com/jessishakarian">@jessishakarian</a> on Twitter</li>
          <li><a href="https://www.polywork.com/jessishakarian">jessishakarian</a> on PolyWork</li>
        </ul>
---

<h3>Show Notes:</h3>

<p>
	We welcome Jessi Shakarian to the show today to talk about her journey into
	UX/UI!
</p>
<p>
	Jessi talks about how passion can be your motivation, and how valuable it is
	to be able to share what you're excited about: you aren't your tech stack.
	Sometimes finding that passion can lead you to new and interesting places like
	Jessi's change in focus from web dev to design.
</p>
