---
layout: layouts/podcast.njk
title: "Todd Libby - You aren't your tech stack: sharing your passion"
description: 'Season Four, Episode Two of the Virtual Coffee Podcast'
tags: podcast
date: 2021-10-06
podcast:
  season: 4
  episode: 2
  id: 9355176
  intro: |
    <p>This week on the podcast, we have Todd Libby talking about his work making the web equal and accessible for everyone. He drops a ton of resources (check the show notes!) tips on how to get started, and talks about how he's continually learning on the job.</p>
  card: /assets/images/podcast/0402-todd-episode.png
  guests:
    - name: Todd Libby
      headshot: '/assets/images/podcast/0402-todd.jpg'
      headshotAlt: "Todd Libby's profile photo"
      bio: |
        <p>Todd is a professional web developer, designer, and accessibility advocate for 22 years under many different technologies starting with HTML/CSS, Perl, and PHP, Todd has been an avid learner of web technologies for over 40 years starting with many flavors of BASIC all the way to React/Vue. Todd is also a member of the W3C working with groups on WCAG Silver (3.0). When not coding or advocating accessibility, you'll usually find Todd tweeting about (or eating) lobster rolls and accessibility.</p>
        <ul>
          <li><a href="https://toddl.dev/">toddl.dev</a></li>
          <li><a href="https://twitter.com/toddlibby">@toddlibby</a> on Twitter</li>
        </ul>
---

<p>
	We're welcoming Todd Libby to give us an intro to accessibility and what it
	means to make the web equal. Todd, a professional web developer, designer, and
	accessibility advocate for 22 years, provides a plethora of resources that can
	help everyone to get started and talks about how to advocate for accessibility
	and equality on projects.
</p>

<h3>Show Notes:</h3>
<h4>Things/People mentioned in the episode:</h4>
<ul>
	<li>
		<a
			href="https://www.smashingmagazine.com/2021/07/strong-case-for-accessibility/"
			>Making A Strong Case for Accessibility</a
		>
		by Todd Libby
	</li>
	<li>
		<a href="https://en.wikipedia.org/wiki/Microsoft_FrontPage"
			>Front Page Express</a
		>
	</li>
	<li>
		<a href="https://en.wikipedia.org/wiki/Designing_with_Web_Standards"
			>Designing with Web Standards</a
		>
	</li>
	<li>
		<a href="https://www.w3.org/WAI/standards-guidelines/wcag/"
			>Web Content Accessibility Guidelines (WCAG)</a
		>
	</li>
	<li><a href="https://twitter.com/cassandrafaris">Cass Faris</a></li>
	<li><a href="https://twitter.com/saltnburnem">Chris DeMars</a></li>
</ul>

<h4>A11y Learning Resources:</h4>
<ul>
	<li>
		<a href="https://www.edx.org/course/web-accessibility-introduction"
			>Introduction to Web Accessibility</a
		>
		on edX
	</li>
	<li><a href="https://webaim.org/">WebAIM</a></li>
	<li><a href="https://www.tpgi.com/">TPGi</a></li>
</ul>

<h4>Tools:</h4>
<ul>
	<li>
		<a href="https://wave.webaim.org/extension/"
			>WAVE Web Accessibility Evaluation Tool</a
		>
	</li>
	<li><a href="https://www.deque.com/axe/">axe accessibility toolkit</a></li>
	<li><a href="https://pa11y.org/">pa11y command line</a></li>
	<li>
		<a href="https://pauljadam.com/bookmarklets/tables.html"
			>Bookmarklets by Ian Loyyd and Paul J Adams</a
		>
	</li>
	<li>
		<a href="https://github.com/microsoft/accessibility-insights-web"
			>Microsoft a11y insights</a
		>
	</li>
	<li>
		<a
			href="https://developer.mozilla.org/en-US/docs/Tools/Accessibility_inspector"
			>Firefox a11y devtools</a
		>
	</li>
	<li>
		<a href="https://developers.google.com/web/tools/lighthouse"
			>Lighthouse automated testing</a
		>
	</li>
	<li>
		<a href="https://contrast-ratio.com/">Contrast Ratio tool by Lea Verou</a>
	</li>
	<li>
		<a href="https://www.tpgi.com/color-contrast-checker/"
			>Colour Contrast Analyser</a
		>
	</li>
</ul>

<h4>Todd's steps for manual testing:</h4>

<ol>
	<li>Mouse only</li>
	<li>Keyboard only</li>
	<li>Squint test</li>
	<li>
		<a
			href="https://www.afb.org/blindness-and-low-vision/using-technology/assistive-technology-products/screen-readers"
			>Screen readers</a
		>
	</li>
	<li>
		<a href="https://webaim.org/articles/voiceover/">Voice over in Safari</a>
	</li>
	<li>
		<a href="https://www.nvaccess.org/">NVDA</a> or
		<a href="https://www.freedomscientific.com/products/software/jaws/">JAWS</a>
		in Windows
	</li>
	<li>
		<a href="https://help.gnome.org/users/orca/stable/introduction.html.en"
			>Orca</a
		>
		on Linux
	</li>
</ol>

<hr />

<h4>Sponsor Virtual Coffee!</h4>

<p>
	Your support is incredibly valuable to us. Direct financial support will help
	us to continue serving the Virtual Coffee community.
</p>

<p>
	Please visit
	<a href="https://github.com/sponsors/Virtual-Coffee"
		>our sponsorship page on GitHub</a
	>
	for more information - you can even
	<a href="https://github.com/sponsors/Virtual-Coffee?frequency=one-time"
		>sponsor and episode of the podcast!</a
	>
</p>

<h5>Virtual Coffee:</h5>
<ul>
	<li>
		Virtual Coffee: <a href="https://virtualcoffee.io/">virtualcoffee.io</a>
	</li>
	<li>
		Podcast Contact:
		<a href="mailto:podcast@virtualcoffee.io">podcast@virtualcoffee.io</a>
	</li>
	<li>
		Bekah: <a href="https://dev.to/bekahhw">dev.to/bekahhw</a>, Twitter:
		<a href="https://twitter.com/bekahhw">https://twitter.com/bekahhw</a>,
		Instagram: <a href="https://www.instagram.com/bekahhw">bekahhw</a>
	</li>
	<li>
		Dan: <a href="https://dtott.com">dtott.com</a>, Twitter:
		<a href="https://twitter.com/danieltott">@danieltott</a>
	</li>
</ul>
