---
layout: layouts/podcast.njk
title: "Todd Libby - You aren't your tech stack: sharing your passion"
description: 'Season Four, Episode Two of the Virtual Coffee Podcast'
tags: podcast
date: 2021-10-06
podcast:
  season: 4
  episode: 2
  id: 9355176
  intro: |
    <p>This week on the podcast, we have Todd Libby talking about his work making the web equal and accessible for everyone. He drops a ton of resources (check the show notes!) tips on how to get started, and talks about how he's continually learning on the job.</p>
  card: /assets/images/podcast/0401-jessi-episode.png
  guests:
    - name: Todd Libby
      headshot: '/assets/images/podcast/0401-jessi.jpg'
      headshotAlt: "Todd Libby's profile photo"
      bio: |
        <p>Jessi Shakarian got her start in tech as a developer, but also she loved everything that happened before it was time to build a website. She is currently a UX designer at DIA Design Guild in Los Angeles and a python developer interested in machine learning.</p>
        <ul>
          <li><a href="https://www.jessishakarian.com/">jessishakarian.com</a></li>
          <li><a href="https://twitter.com/jessishakarian">@jessishakarian</a> on Twitter</li>
          <li><a href="https://www.polywork.com/jessishakarian">jessishakarian</a> on PolyWork</li>
        </ul>
---

<h3>Show Notes:</h3>

<p>
	We welcome Jessi Shakarian to the show today to talk about her journey into
	UX/UI!
</p>
<p>
	Jessi talks about how passion can be your motivation, and how valuable it is
	to be able to share what you're excited about: you aren't your tech stack.
	Sometimes finding that passion can lead you to new and interesting places like
	Jessi's change in focus from web dev to design.
</p>

<hr />

<h4>Sponsor Virtual Coffee!</h4>

<p>
	Your support is incredibly valuable to us. Direct financial support will help
	us to continue serving the Virtual Coffee community.
</p>

<p>
	Please visit
	<a href="https://github.com/sponsors/Virtual-Coffee"
		>our sponsorship page on GitHub</a
	>
	for more information - you can even
	<a href="https://github.com/sponsors/Virtual-Coffee?frequency=one-time"
		>sponsor and episode of the podcast!</a
	>
</p>

<h5>Virtual Coffee:</h5>
<ul>
	<li>
		Virtual Coffee: <a href="https://virtualcoffee.io/">virtualcoffee.io</a>
	</li>
	<li>
		Podcast Contact:
		<a href="mailto:podcast@virtualcoffee.io">podcast@virtualcoffee.io</a>
	</li>
	<li>
		Bekah: <a href="https://dev.to/bekahhw">dev.to/bekahhw</a>, Twitter:
		<a href="https://twitter.com/bekahhw">https://twitter.com/bekahhw</a>,
		Instagram: <a href="https://www.instagram.com/bekahhw">bekahhw</a>
	</li>
	<li>
		Dan: <a href="https://dtott.com">dtott.com</a>, Twitter:
		<a href="https://twitter.com/danieltott">@danieltott</a>
	</li>
</ul>
