---
title: 'Monthly Challenge for December, 2020: 50k words!'
description: 'December challenge -> Blogging: we all work together to hit 50,000 words.'
layout: layouts/simple.njk
date: 2020-12-01
tags: monthlychallenges
---

Test