---
layout: layouts/default.njk
title: Virtual Coffee Community Events
description: See our upcoming events!
hero: 'svg/undraw_conference_call_b0w6.svg'
heroHeader: 'Virtual Coffee Events'
heroSubheader: Please join us at one of our events!
tags:
  - topnav
homePageBlocks:
  type: large
  key: Community Events
  order: 1
eleventyNavigation:
  key: Events
  order: 3
---

<div class="bg-light py-5">
	<div class="container-xl">
		<h2>Upcoming Events</h2>
		<div class="mb-3">
			<p>
				<strong
					>As we move into our third year, we’ve paused new members joining our
					coffee chats as we support our current community and make plans for
					the future. We hope to see you all soon &#x1f496;</strong
				>
			</p>
		</div>

		{% for event in events | head(20) %}

		<div class="card mb-4">
			<div class="card-header">
				{{ event.startDateLocalized | dateForDisplay('EEEE, fff') }}
			</div>
			<div class="card-body">
				<h5 class="card-title">{{event.title}}</h5>
				{% if event.eventCalendarDescription %}
				<p class="card-text">{{ event.eventCalendarDescription | safe }}</p>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
</div>
