---
layout: layouts/default.njk
title: Virtual Coffee Community Events
description: See our upcoming events!
hero: 'svg/undraw_conference_call_b0w6.svg'
heroHeader: 'Virtual Coffee Events'
heroSubheader: Please join us at one of our events!
tags:
  - topnav
homePageBlocks:
  type: large
  key: Community Events
  order: 1
eleventyNavigation:
  key: Events
  order: 3
---

<div class="bg-light py-5">
  <div class="container-xl">
    <h2>Upcoming Events</h2>
    <div class="mb-3">
      Register for and view all of our upcoming events <a href="https://meetingplace.io/virtual-coffee" target="_blank" rel="noopener noreferrer">on Meetingplace.io</a>.
    </div>

    {% for event in events | head(20) %}

    <div class="card mb-4">
      <a href="{{ event.url }}" class="card-header" target="_blank" rel="noopener noreferrer">{{ event.start_time | dateForDisplay }}</a>
      <div class="card-body">
        <h5 class="card-title">{{event.name}}</h5>
        {% if event.description %}
        <p class="card-text">{{ event.description | striptags(true) }}</p>
        {% endif %}
        <a href="{{ event.url }}" class="btn-sm btn btn-secondary" target="_blank" rel="noopener noreferrer">Details and RSVP</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>