---
layout: layouts/home.njk
title: Virtual Coffee Community Events
description: See our upcoming events!
---

<div class="py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-4">
        {% include "svg/undraw_team_spirit_hrr4.svg" %}
      </div>
      <div class="col-sm-8">
        <h1 class="display-4">Virtual Coffee Events</h1>
        <p class="lead "><a href="https://meetingplace.io/virtual-coffee" target="_blank" rel=”noopener noreferrer">Sign up</a> to join us at one of our upcoming events!</p>
      </div>
    </div>
  </div>   
</div>


<div class="bg-light py-5">
  <div class="container-xl">
    <h2>Events</h2>
    <div class="mb-3">
      <a href="https://meetingplace.io/virtual-coffee" target="_blank" rel=”noopener noreferrer">View events on Meetingplace.io</a>
    </div>

    {% for event in events | head(20) %}

    <div class="card w-100 shadow p-3 mb-4 bg-white rounded" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{event.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ event.start_time | dateForDisplay }}</h6>
        <p class="card-text">{{ event.description | striptags(true) }}</p>
        <a href="{{ event.url }}" class="card-link" target="_blank" rel=”noopener noreferrer">Details</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>