---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<div class="bg-white hero">
  <div class="container pt-6 pb-5">
    <h1>{% include "svg/virtual-coffee-full.svg" %}</h1>
    <h2 class="pt-5"><span>An intimate community for all devs,</span> <span>optimized for <strong class="text-primary">you</strong></span></h2>
  </div>
</div>

<div class="container pt-3">
  <div class="bodycopy lead">

    <p>Virtual Coffee is a laid-back conversation with developers twice a week. It's the conversation that keeps going in slack. It's the online events that support developers at all stages of the journey. It's the place where you go to make friends who all just happen to be in tech.</p>

    <p>Anyone can join! Whether you're just thinking about getting into tech or have been in it for decades.</p>

    <p>We know that growth comes at all levels and that no matter what stage of the journey you're on, you can teach and learn.</p>

    <p>So come with a question or a topic to discuss, ask for feedback on your portfolio, answer another developer's question, or just sit back and listen to others talk about tech. </p>

    <p>Our mission is to form community, allow room for growth and mentorship at all levels, and to provide a safe space for everyone interested in tech.</p>
  </div>

  <h2 class="text-center my-6 display-4">All are Welcome ❤️</h2>
</div>


<div class="smallhomepageblocks mb-5">
  {% for pageBlock in collections.homePageBlocksSmall %}
    <a href="{{ pageBlock.data.homePageBlocks.url if pageBlock.data.homePageBlocks.url else pageBlock.url }}" class="smallhomepageblocks-item">
      <div class="smallhomepageblocks-hero">
        {% include pageBlock.data.hero %}
      </div>
      <h4 class="smallhomepageblocks-title">{{pageBlock.data.homePageBlocks.key}}</h3>
    </a>
  {% endfor %}
</div>


<div class="bg-light">
  <div class="container py-5">
    <h2 class="text-center mb-5">What we're up to</h2>
    <div class="homepageblocks">
      {% for pageBlock in collections.homePageBlocksLarge %}
          <div class="homepageblock-hero">
            {% include (pageBlock.data.hero) %}
          </div>

          <h3 class="text-secondary homepageblock-title"><a href="{{pageBlock.url}}">{{pageBlock.data.homePageBlocks.key}}</a></h3>
          <div class="homepageblock-body">
            <p class="lead">{{pageBlock.data.description}}</p>
            {% if pageBlock.data.homePageBlocks.collectionKey %}
              {% displayPostList collections[(pageBlock.data.homePageBlocks.collectionKey)] | reverse | head(5) %}
            {% elseif pageBlock.fileSlug == 'events' %}
            {#
              Special handling for events
              TODO: find a better way to deal with this
            #}
              <ul class="postlist">
                {% for event in events | head(5) %}
                  <li class="postlist-item">
                    <a class="postlist-title" href="{{event.url}}">{{event.name}}</a>
                    <p class="postlist-description"><strong>{{ event.start_time | dateForDisplay }}</strong></p>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
          <p class="homepageblock-body-foot text-muted font-italic"><a href="{{pageBlock.url}}">See more {{pageBlock.data.homePageBlocks.key}}</a></p>
      {% endfor %}
    </div>


  </div>
</div>
