---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

{% from "macros/svg.njk" import svg %}

<div class="hero">
	<div class="container pt-5 pb-5 pt-sm-6">
		<h1>
			{{svg(src='svg/virtual-coffee-full-copy.svg', svgTitle='Virtual Coffee')}}
		</h1>

		<h2 class="pt-5">
			<span>An intimate community for all devs,</span>
			<span
				>optimized for <strong class="gradient-text-primary">you</strong></span
			>
		</h2>
	</div>

	<div class="container pt-3 pb-5">
		<div class="bodycopy lead">
			<p>
				Virtual Coffee is a laid-back conversation with developers twice a week.
				It's the conversation that keeps going in slack. It's the online events
				that support developers at all stages of the journey. It's the place you
				go to make friends.
			</p>

			<p>
				Anyone can join! Whether you're thinking about getting into tech or have
				been in it for decades.
			</p>
		</div>
	</div>
</div>

<main id="maincontent">
	<div class="container-lg py-5">
		<h2 class="text-center mb-5">What we're up to</h2>
		<div class="homepageblocks">
			<div id="about" class="homepageblock-hero">
				{% include 'svg/undraw_celebration_0jvk.svg' %}
			</div>

			<h3 class="text-secondary homepageblock-title">
				All Things Virtual Coffee
			</h3>
			<div class="homepageblock-body">
				<p class="lead">Links and Goodies!</p>
				<ul class="postlist">
					<li class="postlist-item">
						<a class="postlist-title" href="/about/">About Virtual Coffee</a>
						<p class="postlist-description">
							Our Mission, Core Values, History, and more.
						</p>
					</li>
					<li class="postlist-item">
						<a class="postlist-title" href="/code-of-conduct/"
							>Code of Conduct</a
						>
						<p class="postlist-description">
							In order to create a welcoming and inclusive community, we ask our
							members to abide by our Code of Conduct.
						</p>
					</li>
					<li class="postlist-item">
						<a class="postlist-title" href="/members/">Our Members</a>
						<p class="postlist-description">Meet our amazing members!</p>
					</li>
					<li class="postlist-item">
						<a class="postlist-title" href="https://store.virtualcoffee.io/"
							>Merch Store</a
						>
						<p class="postlist-description">
							Support Virtual Coffee and show your love ❤️
						</p>
					</li>
					<li class="postlist-item">
						<a class="postlist-title" href="https://github.com/Virtual-Coffee/"
							>VC GitHub</a
						>
						<p class="postlist-description">Join our Open Source efforts!</p>
					</li>
					<li class="postlist-item">
						<a
							class="postlist-title"
							href="https://youtube.com/c/virtualcoffeeio"
							>VC Videos</a
						>
						<p class="postlist-description">
							Recordings of Virtual Coffee Events and Live Streams.
						</p>
					</li>
					<li class="postlist-item">
						<a class="postlist-title" href="https://twitter.com/VirtualCoffeeIO"
							>VC Twitter</a
						>
						<p class="postlist-description">
							Stay up to date and join in the fun!
						</p>
					</li>
				</ul>
			</div>

			{% for pageBlock in collections.homePageBlocksLarge %}
			<div class="homepageblock-hero">{% include (pageBlock.data.hero) %}</div>

			<h3 class="text-secondary homepageblock-title">
				<a href="{{pageBlock.url}}">{{pageBlock.data.homePageBlocks.key}}</a>
			</h3>
			<div class="homepageblock-body">
				<p class="lead">{{pageBlock.data.description}}</p>
				{% if pageBlock.data.homePageBlocks.collectionKey %} {% displayPostList
				collections[(pageBlock.data.homePageBlocks.collectionKey)] | reverse |
				head(5) %} {% elseif pageBlock.fileSlug == 'events' %} {# Special
				handling for events TODO: find a better way to deal with this #}
				<ul class="postlist">
					{% for event in events | head(5) %}
					<li class="postlist-item">
						{{event.title}}
						<p class="postlist-description">
							<strong>{{ event.startDateLocalized | dateForDisplay }}</strong>
						</p>
					</li>
					{% endfor %}
				</ul>
				{% endif %} {% if pageBlock.data.homePageBlocks.linkText %} {% set
				linkText = pageBlock.data.homePageBlocks.linkText %} {% else %} {% set
				linkText = "See more " + pageBlock.data.homePageBlocks.key %} {% endif
				%}
				<p class="homepageblock-body-foot text-muted font-italic">
					<a href="{{pageBlock.url}}">{{linkText}}</a>
				</p>
			</div>
			{% if loop.index % 2 == 1 and not loop.last %}
		</div>
		<div class="homepageblocks">{% endif %} {% endfor %}</div>
	</div>
	<div class="bg-light">
		<div class="container-lg py-5">
			<h2 class="mb-4">Our Supporters</h2>

			<p class="lead">
				We are eternally grateful to our amazing supporters and sponsors!
			</p>

			<p class="lead">
				If you'd like to support Virtual Coffee, please visit
				<a href="https://github.com/sponsors/Virtual-Coffee"
					>our sponsorship page</a
				>
				on GitHub.
			</p>

			<ul class="sponsors">
				{% for tier in sponsors.logoSponsors %} {% for supporter in
				tier.sponsors %}
				<li data-id="{{supporter.id}}">
					<a href="{{supporter.websiteUrl or supporter.url}}">
						<img
							src="{{supporter.avatarUrl_80}}"
							alt=""
							width="240"
							height="240"
							loading="lazy"
							decoding="async"
							sizes="(min-width: 915px) 240px, 24vw"
							srcset="
								{{supporter.avatarUrl_80}}   80w,
								{{supporter.avatarUrl_160}} 160w,
								{{supporter.avatarUrl_240}} 240w,
								{{supporter.avatarUrl_480}} 480w,
								{{supporter.avatarUrl_720}} 720w
							"
						/>
						<div class="sponsors-body">
							<h3 class="h4">{{supporter.name}}</h3>
							{% if supporter.descriptionHTML %} {{supporter.descriptionHTML |
							safe}} {% endif %}
						</div>
					</a>
				</li>
				{% endfor %} {% endfor %}
			</ul>

			<ul class="supporters my-6">
				{% for tier in sponsors.supporters %} {% for supporter in tier.sponsors
				%}
				<li class="supporters-{{tier.monthlyPriceInCents}}">
					<a
						href="{{supporter.url}}"
						title="{{supporter.name or supporter.login}}"
					>
						<img
							src="{{supporter.avatarUrl_80}}"
							alt="{{supporter.name or supporter.login}}"
							width="80"
							height="80"
							loading="lazy"
							decoding="async"
							sizes="80px"
							srcset="
								{{supporter.avatarUrl_80}}   80w,
								{{supporter.avatarUrl_160}} 160w,
								{{supporter.avatarUrl_240}} 240w
							"
						/>
						<div class="supporters-name">
							<svg
								viewBox="0 0 130 130"
								xmlns="http://www.w3.org/2000/svg"
								fill-rule="evenodd"
								clip-rule="evenodd"
								stroke-linejoin="round"
								stroke-miterlimit="2"
								aria-hidden="true"
							>
								<path
									d="M 20 65 A 45 45 0 1 1 110 65 A 45 45 0 1 1 20 65"
									id="curve"
									fill="transparent"
									stroke="transparent"
								/>
								<text width="500">
									<textPath xlink:href="#curve">
										✨{{supporter.name or supporter.login}}✨
									</textPath>
								</text>
							</svg>
						</div>
					</a>
				</li>
				{% endfor %} {% endfor %}
			</ul>

			<div class="text-center">
				<h2 class="mb-5">Thank you!!</h2>

				<p>
					<a
						href="https://github.com/sponsors/Virtual-Coffee"
						class="btn btn-primary btn-lg"
						>Sponsor Virtual Coffee</a
					>
				</p>
			</div>
		</div>
	</div>
</main>
