---
layout: layouts/default.njk
title: Virtual Coffee Members
description: Meet our amazing members!
tags:
  - topnav
homePageBlocks:
  type: small
  key: Our Members
  order: 2
hero: 'svg/undraw_team_spirit_hrr4.svg'
eleventyNavigation:
  key: Members
  order: 2
---

{% from "macros/members.njk" import membercards, smallMembercards %}

<div class="py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-4">
        {% include "svg/undraw_team_spirit_hrr4.svg" %}
      </div>
      <div class="col-sm-8">
        <h1 class="display-4">Virtual Coffee Members</h1>
        <p class="lead ">A community is only as awesome as its members!</p>
      </div>
    </div>
  </div>
</div>

<div class="bg-light py-5">
  <div class="container-xl">

    {% for team in members.teams %}
      <h2 class="mb-sm-3 mb-md-4 display-5">{{team.name}}</h2>
      {{ smallMembercards(team.members, members.memberData) }}
      <hr>
    {% endfor %}

    <h2 class="mb-sm-3 mb-md-5 display-5">Our Members</h2>
    {{ membercards(members.members | sort, members.memberData) }}
    <div class="member-footer">
      <h2 class="mb-sm-3 mb-md-5 display-4">Go Team!</h2>
      {% include "svg/undraw_celebration_0jvk.svg" %}
    </div>
  </div>
</div>
