---
permalink: 'membership-thankyou/'
layout: layouts/home.njk
---

<div class="py-5">
  <div class="container">
    <div class="bodycopy">
      <h1 class="display-4">Thank you!</h1>
      <div class="lead mb-5">
        <p>Virtual coffee is, and always will be, a genuine community of people who value and prioritize supporting one another. We absolutely love the closeness of this community and know its one of the many things that sets us apart.</p>
        <p>You'll be hearing from a Virtual Coffee member soon!</p>
      </div>
    </div>
  </div>
</div>
