---
layout: layouts/default.njk
title: Uses
description: The tools our website uses!
---
 
<div class="py-4">
 <div class="container">
   <div class="row align-items-center">
     <div class="col-sm-4">
       {% include "svg/undraw_online_video_ivvq.svg" %}
     </div>
     <div class="col-sm-8">
       <h1 class="display-4">Uses</h1>
       <p class="lead ">Here's a list of the tools and tech we've used to create this website and start our community.</p>
     </div>
   </div>
 </div>
</div>

<div class="bg-light py-5">
   <div class="container">
  <div class="row">
    <div class="col-sm">
        <h2> For Our Website</h2>
            <ul class="list-unstyled">
           
            <a href="https://www.11ty.dev/" target="_blank"><li>11ty</li><a/>  
            <a href="https://getbootstrap.com/docs/4.1/getting-started/introduction/" target="_blank"><li>Bootstrap</li><a/>
            <a href="https://gruntjs.com/" target="_blank"><li>Grunt</li><a/> 
            <a href="https://lodash.com/" target="_blank"><li>Lodash</li><a/> 
            </ul>
    </div>
    <div class="col-sm">
     <h2> Our Community Runs On</h2>
            <ul class="list-unstyled">
            <a href="https://meetingplace.io/" target="_blank"><li>MeetingPlace.io</li><a/> 
            <a href="https://slack.com/" target="_blank"><li>Slack</li><a/>  
            <a href="https://zoom.us/" target="_blank"><li>Zoom</li><a/>
            </ul>
    </div>
  </div>
</div>
</div>