---
layout: layouts/default.njk
title: Uses
description: The tools our website uses!
hero: 'svg/undraw_product_teardown_elol.svg'
heroHeader: Uses
heroSubheader: Here's a list of the tools and tech we've used to create this website and start our community.
---

<div class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h2>Our Website Runs On</h2>
                <ul class="list-unstyled">
                  <li><a href="https://www.11ty.dev/">11ty<a/> - Static site generation</li>
                  <li><a href="https://github.com/alpinejs/alpine">Alpine.js</a> - like Tailwind for JavaScript</li>
                  <li><a href="https://getbootstrap.com/docs/4.5">Bootstrap<a/> - trustworthy <code>(s)css</code> framework</li>
                  <li><a href="https://gruntjs.com/">Grunt<a/> - it may be old, but it still works 💪</li>
                  <li><a href="https://www.npmjs.com/">npm<a/> and <a href="https://yarnpkg.com/">yarn</a> - package management</li>
                  <li><a href="https://postcss.org/">postCSS<a/> - Process our CSS</li>
                </ul>
            </div>
            <div class="col-sm">
                <h2> Our Community Runs On</h2>
                <ul class="list-unstyled">
                  <li><a href="https://meetingplace.io/virtual-coffee">MeetingPlace.io<a/> - event management</li>
                  <li><a href="https://zapier.com/">Zapier<a/> - plumbing for the web</li>
                  <li><a href="https://slack.com/">Slack<a/> - real-time chat</li>
                  <li><a href="https://zoom.us/">Zoom<a/> - real-time meetings</li>
                  <li><a href="https://github.com/Virtual-Coffee">GitHub<a/> - version control and team management &amp; communications</li>
                  <li><a href="https://www.netlify.com/">Netlify<a/> - JAMstack hosting</li>
                  <li><a href="https://www.youtube.com/channel/UCc0579aGEy7jTAgRglR4J0g">YouTube<a/> - Video streaming and hosting</li>
                </ul>
            </div>
        </div>
    </div>
</div>


