---
layout: layouts/default.njk
title: Uses
description: The tools our website uses!
---

<div class="py-4">
 <div class="container">
   <div class="row align-items-center">
     <div class="col-sm-4">
       {% include "svg/undraw_product_teardown_elol.svg" %}
     </div>
     <div class="col-sm-8">
       <h1 class="display-4">Uses</h1>
       <p class="lead ">Here's a list of the tools and tech we've used to create this website and start our community.</p>
     </div>
   </div>
 </div>
</div>

<div class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h2>Our Website Runs On</h2>
                <ul class="list-unstyled">
                  <li><a href="https://www.11ty.dev/">11ty<a/></li>
                  <li><a href="https://getbootstrap.com/docs/4.5">Bootstrap<a/></li>
                  <li><a href="https://gruntjs.com/">Grunt<a/></li>
                  <li><a href="https://lodash.com/">Lodash<a/></li>
                  <li><a href="https://www.npmjs.com/">npm<a/></li>
                  <li><a href="https://postcss.org/">postCSS<a/></li>
                  <li><a href="https://prettier.io/">prettier<a/></li>
                </ul>
            </div>
            <div class="col-sm">
                <h2> Our Community Runs On</h2>
                <ul class="list-unstyled">
                  <li><a href="https://meetingplace.io/">MeetingPlace.io<a/></li>
                  <li><a href="https://slack.com/">Slack<a/></li>
                  <li><a href="https://zoom.us/">Zoom<a/></li>
                  <li><a href="https://github.com/">GitHub<a/></li>
                  <li><a href="https://www.netlify.com/">Netlify<a/></li>
                  <li><a href="https://www.youtube.com/">YouTube<a/></li>
                </ul>
            </div>
        </div>
    </div>
</div>


