:root {
	font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
	:root {
		font-family: 'Inter var', sans-serif;
	}
}

html {
	font-size: 18px;
	scroll-padding-top: 100px;
}

a:focus {
	outline: 3px solid var(--purple);
}

img,
svg {
	max-width: 100%;
}

ul p:last-child {
	margin-bottom: 0;
}

h3 {
	font-weight: 500;
}

.bg-light.py-5 + .bg-light.py-5 {
	padding-top: 0 !important;
}

.bg-white.py-5 + .bg-white.py-5 {
	padding-top: 0 !important;
}

.btn-primary {
	background-image: $gradient-primary;
}

.btn {
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.btn.btn-link {
	text-shadow: none;
}

.gradient-text-primary {
	background-clip: text;
	background-image: $gradient-primary;
	color: transparent;
}

/* Skip to content link */

.text-assistive {
	-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
	clip-path: polygon(0 0, 0 0, 0 0, 0 0);
	box-sizing: border-box;
	position: absolute;
	margin: 0;
	padding: 0;
	color: #ffffff;
}

.text-assistive.display-at-top-on-focus {
	top: 0;
	left: 0;
	width: 100%;
}

.text-assistive.display-at-top-on-focus:focus {
	-webkit-clip-path: none;
	clip-path: none;
	z-index: 9999;
	height: 70px;
	line-height: 70px;
	background: linear-gradient(to right bottom, #d9376e, #da6f36);
	font-size: 1.2rem;
	text-decoration: none;
	color: #ffffff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	text-align: center;
}

body {
	margin-top: 6rem;

	&.vc-home {
		margin-top: 0;
	}
}

ul {
	padding-left: 1em;
}

.podcastSubscribe {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	> a {
		margin: 0 0 0.5em 0.5em;

		height: 40px;
	}

	@include media-breakpoint-up(sm) {
		flex-direction: row;
		justify-content: flex-end;

		> a {
			margin-bottom: 0;
		}
	}
}

.direct-link {
	font-size: 0.75em;
}

.display-5 {
	@include font-size(2.5rem);
	font-weight: $display5-weight;
	line-height: $display-line-height;
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5 {
	color: $gray-700;
}

.bodycopy {
	@include media-breakpoint-up(sm) {
		max-width: map-get($container-max-widths, lg);
		margin-left: auto;
		margin-right: auto;
	}
}

.container-simple {
	@include media-breakpoint-up(sm) {
		max-width: map-get($container-max-widths, lg);
		margin-left: auto;
		margin-right: auto;
	}

	> .pt-5.bg-white {
		padding-top: 0 !important;
	}

	.container {
		padding-left: 0;
		padding-right: 0;
	}
}

.prose h1 {
	// text-align: center;
}

.prose h1 > small::before {
	content: '\a';
	white-space: pre;
}

.prose h2 {
	margin: 2rem 0 0.5rem 0;
}

.prose h3 {
	font-size: 1.5rem;
	font-weight: 600;
	margin: 1.5rem 0 0.5rem 0;
}

.prose h4 {
	font-weight: 600;
}

// when wrapper is present, apply margin to wrapper and remove from heading
.prose .header-anchor-wrapper-h2 {
	// apply directly to margin-top/bottom, to not overwrite margin-left
	margin-top: 2rem;
	margin-bottom: 0.5rem;

	// zero-out margin on heading inside wrapper
	h2 {
		margin: 0;
	}
}

.prose .header-anchor-wrapper-h3 {
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;

	h3 {
		margin: 0;
	}
}

.prose ul {
	margin-block-start: 1em;
	padding-inline-start: 2rem;
}

.prose li > ul {
	margin-top: 0;
}

.resources-section .prose h2 {
	font-size: 3rem;
	font-weight: 900;
	line-height: 1.2;
	margin-bottom: 1rem;
}

.resources-section .prose h3 {
	margin: 1.5rem 0 1.5rem 0;
	font-size: 2rem;
}

.resources-section .prose h4 {
	margin: 1.5rem 0 1rem 0;
	font-weight: 500;
	font-size: 1.25rem;
}

.resources-section .prose h5 {
	font-size: 1rem;
}

.resources-section .prose .header-anchor-wrapper-h2 {
	margin-bottom: 1rem;

	h2 {
		margin: 0;
	}
}

.resources-section .prose .header-anchor-wrapper-h3 {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;

	h3 {
		margin: 0;
	}
}

.resources-section .prose .header-anchor-wrapper-h4 {
	margin-top: 1.5rem;
	margin-bottom: 1rem;

	h4 {
		margin: 0;
	}
}

.podcastplayer {
	min-height: 200px;
}

.transcript {
	dt {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	time {
		font-weight: $font-weight-light;
		color: $text-muted;
	}
}

.header-anchor {
	order: -1;
	font-size: 1.1em;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	display: inline-block;
	text-align: center;

	@media (any-hover: none) {
		opacity: 0.75;
	}
}

.header-anchor-wrapper {
	position: relative;
	display: grid;
	grid-template-columns: 1.5em 1fr;
	margin-left: -1.5em;
	align-items: baseline;

	&:hover .header-anchor,
	&:focus-within .header-anchor {
		opacity: 1;
	}
}

.breadcrumb {
	padding: 0;
	background: none;
	justify-content: flex-end;
}

.text-sm {
	font-size: 0.8rem;
}

.custom-marker-cluster {
	background: #ffffff;
	border: 5px solid #f00800;
	border-radius: 50%;
	color: #000000;
	height: 33px;
	// line-height: 37px;
	text-align: center;
	width: 33px;
}
