.homepageblocks {
	display: grid;

	@include media-breakpoint-up(md) {
		gap: 0 2em;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto;
		grid-auto-flow: column;

		&.homepageblocks-wide {
			grid-template-rows: auto;
			align-items: center;

			.homepageblock-body {
				grid-column: 1;
			}

			.homepageblock-hero-svg {
				margin: 0 auto;
				width: 75%;
			}
		}
	}

	.homepageblocks + & {
		margin-top: 2em;
	}
}

.homepageblock-title {
	a {
		color: $pink;

		&:hover {
			color: $pinkDarker;
		}
	}
}

.homepageblock-hero {
	display: flex;
	align-items: flex-end;
	margin: 1em 0;

	@include media-breakpoint-up(md) {
		margin: 0 0 1em;
	}
}

.homepageblock-hero-svg {
	margin: 0 auto;
	width: 75%;

	svg,
	img {
		width: 100%;
	}

	@include media-breakpoint-up(sm) {
		width: 50%;
	}

	@include media-breakpoint-up(md) {
		margin: 0;
	}
}

.smallhomepageblocks {
	display: grid;
	gap: 1em;
	padding: 1em;
	background-image: $gradient-primary;

	@include media-breakpoint-up(sm) {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}

	@include media-breakpoint-up(lg) {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}

	@include media-breakpoint-up(xl) {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}
}

.smallhomepageblocks-item {
	display: flex;
	min-height: 65px;
	align-items: center;
	transition: outline 0.15s cubic-bezier(0.46, 0.03, 0.52, 0.96);
	background: #fff;
	padding: 0.5em;
	font-size: 1.1rem;
	color: $pinkDarker;

	&:hover {
		text-decoration: none;
		outline: #a6d8d4 5px solid;
		color: $pinkDarker;
	}

	svg {
		fill: currentColor;
	}
}
