---
layout: layouts/default.njk
title: Report received
description: If you have experienced or witnessed violations to Virtual Coffee's Code of Conduct, we need to know about it.
permalink: '/report-coc-violation/thanks/'
---

<div class="py-5">
	<div class="container bodycopy">
		<h1>Report Received.</h1>
		<div class="lead mb-5">
			<p>Thank you for letting us know.</p>
		</div>
	</div>
</div>
